.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Josafat Ribeiro Leal Filho]
    h2.title.mb-0.mt-1
      | Physical Verification of Neural Network Models
  .col-md-2.col-4
    h1.day 5th
    h4.month.mb-0 April
    p 14:00-15:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Conventional methodologies face difficulties in striking a harmonious balance between data-driven learning and adherence to physical constraints, particularly when dealing with noisy datasets. To tackle this challenge, hybrid approaches are being explored, aiming to amalgamate the advantages of both Model-Based and Data-Driven methodologies to develop more robust models. Physics-informed neural networks (PINNs) are a hybrid approach, that presents a promising solution by integrating fundamental physical principles into model training, thereby enhancing generalization and interpretability. Despite the potential advantages of PINNs in reconciling physics-based constraints with data-driven learning, concerns persist regarding their tendency to generate unrealistic predictions. Nonetheless, a challenge arises over validating neural networks that represent a physical system characterized by unknown or partially known dynamics. Consequently, further research is required to refine the validation of AI-based systems, minimizing deviations from physical solutions. This presentation delves into the verification process of neural network models, with an emphasis on discerning the physical properties of real dynamical systems.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://teams.microsoft.com/l/meetup-join/19%3a1gl9chQwHEdboYgOjxeM4DRt1WG8s8OjsSeIlD5NV9I1%40thread.tacv2/1712242540990?context=%7b%22Tid%22%3a%22c7456b31-a220-47f5-be52-473828670aa1%22%2c%22Oid%22%3a%221e937ce0-cbfb-49b2-adf8-0cadc07bd2ef%22%7d ").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="slides/Physical Verification of Neural Network Models.pdf",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-easel3-fill] Slides
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Sala Riunioni Est
      