extends layout.pug

block content
  .row
    .col-md-5
      h1 Mauriana Pesaresi
      h3 Seminar Series 2022/2023
    .col-md-7
      p
        | In this series of #[mark seminars] dedicated to the memory of #[mark Mauriana Pesaresi], a doctoral student of the #[mark Computer Science] Department of the University of Pisa, first-year PhD students in Computer Science will present an #[mark open research problem] related to their field of study. After each seminar, a #[mark panel discussion] will follow.
      p
        | You can find the programme of the past edition #[a(href='2022edition/index.html') here].
      p
        | For any further information, you can reach us out via #[a#mail_both email].
  include upcoming
  include next
  include past
