.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Marco Alessio]
    h2.title.mb-0.mt-1
      | Products are NOT all you need
  .col-md-2.col-4
    h1.day 18th
    h4.month.mb-0 April
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Recommender systems (RecSys) are intelligent software components designed to suggest the most relevant items to users by leveraging statistical methods and machine learning algorithms. Due to their widespread use in practice and their demonstrated capabilities of creating value for both consumers and businesses, recommender systems can be seen as one of the most visible success stories of artificial intelligence. In this talk, we will first provide a concise overview of the recommendation task, outlining the key paradigms that underpin modern recommender systems, including collaborative filtering, content-based filtering, and hybrid approaches. We will then shift our focus to recent advancements in the field, particularly the emergence of Conversational Recommender Systems (CRS), which aim to enhance user engagement by enabling interactive, natural language dialogue-based recommendations. Despite the promise of CRS, current research and evaluation efforts face several open challenges. Among them are the limitations of current offline evaluation methodologies, including the scarcity of realistic and comprehensive high-quality datasets. These issues hinder progress in both system development and achieving naturalistic interactions from the user perspective. To address these gaps, we explore the novel paradigm of Conversational Search and Recommendation (CSR), which unifies search and recommendation in the same framework. We argue that this paradigm holds significant potential for more naturalistic and context-aware user experiences, and we outline open research questions and future directions in this evolving area.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://teams.microsoft.com/l/message/19:DkLh2QJfJIzQp_SpEuyUvxNI3ktQUEzrE2Aob9rjKVE1@thread.tacv2/1744723908484?tenantId=c7456b31-a220-47f5-be52-473828670aa1&groupId=e1ec02a8-5e74-4f1f-a340-920ec77b16bf&parentMessageId=1744723908484&teamName=Pesaresi%20Seminar%20Series%202025&channelName=General&createdTime=1744723908484").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Riunioni Est
      