extends layout.pug

block content
  .row
    .col-md-5
      h1 Mauriana Pesaresi
      h3 Seminar Series 2021/2022
    .col-md-7
      p
        | In this series of #[mark seminars] dedicated to the memory of Mauriana Pesaresi, doctoral students of the #[mark Computer Science] Department of the University of Pisa will present core issues of their #[mark research], focusing on #[mark open problems] and possibly on their innovative contributions.
      p
        | For any further information, you can reach us out via #[a#mail_both email].
  include upcoming
  include next
  include past
