.row.mt-4.mb-4
  h2 #[span.emoji 🔮] Next Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 11th
    h5.month.mb-0 April
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Khadija Javed]
    h4.title.mb-1
      | Cross-Project Defect Prediction: Scalable and Interpretable Domain Adaptation Approaches
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-3dafc74d8bb8f46a894f19e817c82569",aria-expanded="false",aria-controls="talk-3dafc74d8bb8f46a894f19e817c82569")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-3dafc74d8bb8f46a894f19e817c82569.collapse.mt-2
        | Cross-project defect prediction (CPDP) aims to predict software defects in a target project domain by leveraging information from different source project domains, allowing testers to identify defective modules quickly. However, CPDP models often underperform due to different data distributions between source and target domains due to variations in coding practices, architectures, and development environments and class imbalances in both source and target projects. Additionally, standard features often fail to capture sufficient semantic and contextual information from the source project, leading to poor prediction performance in the target project. In this seminar we will explore  current domain adaptation techniques that have emerged as a solution to bridge this gap, enabling better generalization and transferability of CPDP models. Additionally, we will see how machine learning models are optimized to enhance the interpretability and prediction performance of CPDP models. In the end we will discuss open challenges and research gaps to provide insights for future work in this area.