.row.mt-4.mb-4
  h2 #[span.emoji 🔮] Next Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 10th
    h5.month.mb-0 March
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Sara Joubbi]
    h4.title.mb-1
      | Protein-protein interactions using Deep Learning: application in antibody design
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=N3IzNmJrNjc2OWVpODNsOTl1OTk5MDBzb2UgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-e0e564c614d0d4b95869d2d2eb2ec2f8",aria-expanded="false",aria-controls="talk-e0e564c614d0d4b95869d2d2eb2ec2f8")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-e0e564c614d0d4b95869d2d2eb2ec2f8.collapse.mt-2
        | Protein-protein interactions (PPIs) describe the physical contacts between two or more proteins and are crucial for a wide range of biological processes, including cell signaling and metabolic and developmental control. The study of PPIs is of pivotal importance for understanding molecular mechanisms, drug design, and the study of mutations. In recent years, many computational PPI prediction techniques have been developed to compensate for the excessive costs and technical limitations of wet-lab experiments (e.g., Deep Learning (DL)). Using DL for PPIs can help design new molecules (e.g., antibodies) with specific structural and functional requirements. This seminar will highlight the main issues in antibody-antigen interaction prediction and de-novo antibody design.
.row.project
  .col-md-2.col-3
    h3.mb-0 24th
    h5.month.mb-0 March
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Lorenzo Simone]
    h4.title.mb-1
      | Score-based generative approaches
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MWtlaWsyaG1iYm8zbmVpbW41bmozYTNtYTUgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-baf7f21fa5131fe9369f764bd8f60e4e",aria-expanded="false",aria-controls="talk-baf7f21fa5131fe9369f764bd8f60e4e")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-baf7f21fa5131fe9369f764bd8f60e4e.collapse.mt-2
        | Dealing with normalization requirements mostly comes with untractable hurdles to solve. We will briefly recap recent intuitions behind score-matching methods, which allowed to overcome these issues computationally and in terms of results.
.row.project
  .col-md-2.col-3
    h3.mb-0 31st
    h5.month.mb-0 March
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Elia Piccoli]
    h4.title.mb-1
      | Continual Reinforcement Learning: towards Multi-Task and Generic Agents
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NnUzYmFlcmxibGhnNnNsdWo1cDc5bmM3NW4gY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-b6048eba8771dc53cc3d182003d2ec15",aria-expanded="false",aria-controls="talk-b6048eba8771dc53cc3d182003d2ec15")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-b6048eba8771dc53cc3d182003d2ec15.collapse.mt-2
        | In recent years, Reinforcement Learning has reached astonishing results and advancements in various research fields and applications such as games, robotics and chemistry. However, this has come at the cost of unsustainable computational efforts given the huge and complex deep architectures. A common characteristic of all state of art approaches is that the agent learns to solve a very specific task without reusing previously learned skills or knowledge. Continual Learning, on the other hand, seeks to create models that are able to incrementally learn from a sequence of tasks, while continually acquiring, fine-tuning, and transferring knowledge and skills throughout different tasks. As each task is temporally limited and discarded, the ability to forget and maintain knowledge is a critical and fundamental aspect. Continual Reinforcement Learning aims at creating agents that learn multiple tasks in a sequential fashion, trying to extend their abilities without loss of performances in previously learnt scenarios. But at the same time, agents are able to re-use or transfer previous knowledge to ease the process of learning a new task. In this presentation, I will cover the current state-of-the-art and analyze possible ideas that may help to improve the agent's performances and capabilities.
.row.project
  .col-md-2.col-3
    h3.mb-0 14th
    h5.month.mb-0 April
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Jeconia Kapitako]
    h4.title.mb-1
      | The cost of Range Anxiety
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=N2R2djg5ZGFkbDZ2aGlrdmVhaGF2cHM4dXQgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-9f684f94c350b1914b16a2c40904be19",aria-expanded="false",aria-controls="talk-9f684f94c350b1914b16a2c40904be19")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-9f684f94c350b1914b16a2c40904be19.collapse.mt-2
        | Countries around the globe are working towards reducing their carbon emissions and moving towards clean energy. This is particularly visible in the surge of e-mobility over the past few years. A driver's decision to purchase an electric vehicle is influenced by factors such as the desire to phase out vehicles that make use of fossil fuels due to climate change coupled with the increasing fuel and gas prices, the availability of sufficient charging infrastructure, and the charging speed. The insufficient availability of charging infrastructure and long charging times may lead to range anxiety and discourage drivers from switching to electric vehicles.
.row.project
  .col-md-2.col-3
    h3.mb-0 21st
    h5.month.mb-0 April
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Fernanda Gomes]
    h4.title.mb-1
      | Privacy-Preserving on Multiple Aspects Trajectories
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=M204cmpkbnRnOTNmN3JzODBiNmVwazZscGEgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-90fec8dcf37884a7adda5ac1e2ac3c47",aria-expanded="false",aria-controls="talk-90fec8dcf37884a7adda5ac1e2ac3c47")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-90fec8dcf37884a7adda5ac1e2ac3c47.collapse.mt-2
        | With the increased use of mobile devices, which capture information from users' locations using GPS and /3G/4G hotspots/cells, the trajectory data created from their spatio-temporal evolution has grown considerably. Furthermore, with the advent of the Internet of Things (IoT), popularization of social networks and mobile devices, a massive amount of data has been produced every single second. This data can be generated by smart vehicles, houses, sensors, watches, appliances, as well as social networks (e.g. Facebook, Instagram, Twitter, Linkedin) and location-based services. We can use this data from these sources to enrich the trajectory components. They can be related to the object (e.g. heartbeat, mood, blood pressure, sleep, age, occupation, gender) or the location (e.g. description, temperature, air and noise pollution, category, assessments). This diversified type of data has its characteristics and, when combined to trajectories, creates a new intricate trajectory model. This complex and heterogeneous trajectory that contains numerous dimensions is known as multiple aspects trajectory. This data can be useful for several areas of knowledge, including security, urban planning, public transport management, and epidemic prevention. However, the publication of such data may put the privacy of users at risk. Stalking can be facilitated if malicious persons have access to this data, as well as operational support for committing crimes, leading to a threat to the people's safety. In this seminar, we will talk about the current challenges related to privacy and multiple aspects trajectories.
.row.project
  .col-md-2.col-3
    h3.mb-0 28th
    h5.month.mb-0 April
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Eric Nuertey Coleman]
    h4.title.mb-1
      | Continual Self Supervised Learning for Action Recognition
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NGNkaDl0aWszbHBsYjI5a2FqZ2pwN3JqMzQgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-1f73c9f9dbe1add9d2606fb1047761b0",aria-expanded="false",aria-controls="talk-1f73c9f9dbe1add9d2606fb1047761b0")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-1f73c9f9dbe1add9d2606fb1047761b0.collapse.mt-2
        | Continual self-supervised learning for video action recognition is an open problem that has garnered significant attention in the field of computer vision. The ability to learn from unlabeled data is of particular interest, as it has the potential to reduce the cost and effort associated with labeled data collection. However, current self-supervised learning methods for video action recognition have limitations when it comes to continual learning. Specifically, these methods are typically designed to learn from a fixed set of data, rather than adapting to new and evolving scenarios over time. To address this challenge, researchers have begun exploring novel approaches to continual self-supervised learning for video action recognition. These approaches include using meta-learning techniques to learn how to learn from new data, building models that can adapt to new and changing data distributions, and developing methods that can incorporate human feedback to improve learning over time. While these approaches show promise, there are still significant challenges to overcome in the field of continual self-supervised learning for video action recognition. One such challenge is the lack of benchmark datasets that are specifically designed for continual learning. Another challenge is the need to develop effective methods for balancing the trade-off between exploiting existing knowledge and exploring new data. Despite these challenges, continual self-supervised learning for video action recognition remains an important area of research with the potential to revolutionize the field of computer vision. By developing novel methods and approaches to this problem, researchers can unlock the power of self-supervised learning to create more efficient and effective models for video action recognition.
.row.project
  .col-md-2.col-3
    h3.mb-0 5th
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Tauheed Waheed]
    h4.title.mb-1
      | The impact of IOT cyber-security in perspective of industry 4.0
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NDg4MWduamNoOHJ0ZnI1Z3Y2ZG1kZDNwbzYgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-a620d577bfa755d215e2808eabe3181a",aria-expanded="false",aria-controls="talk-a620d577bfa755d215e2808eabe3181a")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-a620d577bfa755d215e2808eabe3181a.collapse.mt-2
        | It is evident that digitalization and automation, bought a lot of business benefits but modern industrial systems require more efficient, trusted, and secured ways of communication. The trend of developing innovative and smart architectures notably in the fields of manufacturing, logistics, healthcare, and agriculture. To build these smart systems, the utilization of more IoT devices is increasing day by day. Industry leaders want to define clear business models and processes, which are reusable reliable reproducible and can be monitored adequately. Industry 4.0 provides connectivity and interconnectivity among industrial systems which has increased the number of IoT devices with broader challenges. It is paramount to mention that IoT ecosystem is supported by cloud solutions and data analytics to extract appropriate information for making our decisions. In this type of systems cyber-security becomes vital to have secure communication. In recent time Google cloud Microsoft Azure and Amazon are the most established cloud platforms because of their easy integration with IoT. Despite being world best robust, trusted, reliable commercial solutions the number of IoT devices are increasing in their system and indirectly it's expanding the surface of cyber-security threats and attacks. However, without secure communication It becomes quite difficult to use IoT systems.
.row.project
  .col-md-2.col-3
    h3.mb-0 12th
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Elena Scandurra]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-f1fe50144e604566da4e560f87da7431",aria-expanded="false",aria-controls="talk-f1fe50144e604566da4e560f87da7431")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-f1fe50144e604566da4e560f87da7431.collapse.mt-2
        | TBA
.row.project
  .col-md-2.col-3
    h3.mb-0 19th
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Hamid Gharb]
    h4.title.mb-1
      | Empowering smart and dynamic workflows for convergence of HPC, AI, and data analytics: challenges and possible solutions
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NDZhczhrMHN2cHRlMjdwdGtlNG45cWtmNGkgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-9271615d00b7a166a1894a586f54de5a",aria-expanded="false",aria-controls="talk-9271615d00b7a166a1894a586f54de5a")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-9271615d00b7a166a1894a586f54de5a.collapse.mt-2
        | It is an obvious fact that every evolution in HPC systems, will bring new complexities in applications workloads, due to increment in number of elements that compose the workflows, and also the type of computations they perform. While simulations and modelling of physical phenomena are targeted in traditional HPC workflows, there are some problems that require extra task computation in artificial intelligence (AI) and data analytics (DA). However, development of these workflows is prevented, mainly because of absence of appropriate programming model and environment that assist integration of HPC, AI, and DA, plus lack of tools to smoothly deploy and execute workloads in HPC platforms. To proceed in this way, use cases are presented where complex workloads are required and main issues that need to be addressed in HPC/DA/IA convergence is investigated. For doing so, first a software stack that provides the functionalities to manage these complex workflows is defined, and second, HPC workflows as a Service (HPCWaas) paradigm is proposed, which leverages the software stack to facilitate the reusability of complex workflows in federated HPC infrastructures
.row.project
  .col-md-2.col-3
    h3.mb-0 26th
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Giang Pham]
    h4.title.mb-1
      | Gene regulatory network: current approaches and challenges
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NDM3aTQ4ODI1NjJjbTYxZDFnb21uOXZjbHQgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-bb1ff52831f6b56994bac473ad8de336",aria-expanded="false",aria-controls="talk-bb1ff52831f6b56994bac473ad8de336")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-bb1ff52831f6b56994bac473ad8de336.collapse.mt-2
        | Genes are the basic unit of inheritance. They encode the information needed to specific the biological and physical features of living creatures. The process when the gene-encoded information is turned into functions is called gene expression. This process is carefully regulated by other genes and their products. For years, scientists have been working on building gene regulatory networks from gene expression data. Network inference is a commonly used technique. This talk will state the current approaches of network inference within this field and what are the remaining challenges needed to be tackled in the future. 