.row.mt-4.mb-4
  h2 #[span.emoji 🔮] Next Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 4th
    h5.month.mb-0 March
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Cosimo Rulli]
    h4.title.mb-1
      | Deep Neural Network Compression 
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NGcxZGMxODNjbDdqaWY0djM3OTZzcmg1ZmUgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-ef5b2cf28c5ecbca43955a309f99ee8a",aria-expanded="false",aria-controls="talk-ef5b2cf28c5ecbca43955a309f99ee8a")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-ef5b2cf28c5ecbca43955a309f99ee8a.collapse.mt-2
        | Deep Neural Networks (DNNs) deliver state-of-the-art performance in a plethora of different tasks, such Computer Vision, Natural Language Processing and Speech Recognition. Their effectiveness comes at the price of an elevated computational burden, in terms of memory occupancy, inference time, and energy consumption, which hinders their usage in resource-constrained devices. Model Compression techniques tackle this problem by leveraging the largely proved over-parametrization of modern DNNs and aim at the reducing the computational requirements of DNNs without affecting their accuracy. In this seminar, we illustrate the taxonomy of DNNs compression methods, particularly focusing on quantization, pruning and knowledge distillation. We introduce their technical aspects, and discuss the different trade-offs between computational burden and accuracy that each technique allows to achieve.
.row.project
  .col-md-2.col-3
    h3.mb-0 11th
    h5.month.mb-0 March
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Martina Cinquini]
    h4.title.mb-1
      | CALIME: Causality-Aware Local Interpretable Model-agnostic Explanations
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=N3BqdThncWpvNWRtcDJ1aWswZTQ2aWdzM2MgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-f25df3728ef8e03c4ea746ad3be8a3a0",aria-expanded="false",aria-controls="talk-f25df3728ef8e03c4ea746ad3be8a3a0",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-f25df3728ef8e03c4ea746ad3be8a3a0.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 18th
    h5.month.mb-0 March
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Chiara Pugliese]
    h4.title.mb-1
      | Multiple-Aspect Trajectories Analysis
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=M2NsZ3UwZWs4NzQ1aGt0OXR2azBwZDA5NGkgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-cadb9df36e6dab4e24e276736302229d",aria-expanded="false",aria-controls="talk-cadb9df36e6dab4e24e276736302229d",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-cadb9df36e6dab4e24e276736302229d.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 25th
    h5.month.mb-0 March
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Federica Di Pasquale]
    h4.title.mb-1
      | Parallel Combinatorial Optimization
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MDVxM2RmamY2dDIyODJrNHQ2NXJtdjE1NGYgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-a7ff5d571b7acbc02556fc7b7a155162",aria-expanded="false",aria-controls="talk-a7ff5d571b7acbc02556fc7b7a155162",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-a7ff5d571b7acbc02556fc7b7a155162.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 1st
    h5.month.mb-0 April
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Flavio Ascari]
    h4.title.mb-1
      | Abstract interpretation completeness and repair
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=M2UxN2JhYjRza2RxN2FuMzFzZjZhY3RjOTIgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-0326aae7b72de998d20a9a29dd7f6753",aria-expanded="false",aria-controls="talk-0326aae7b72de998d20a9a29dd7f6753",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-0326aae7b72de998d20a9a29dd7f6753.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 8th
    h5.month.mb-0 April
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Njagi Mwaniki]
    h4.title.mb-1
      | Inferring Viral Transmission Using Closely Related Viral Genomes
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NDZxbW5idTJhYnY3ZDdtMDZsbjAydDdoMGcgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-220607c258f7d75f8df74e7882bf5900",aria-expanded="false",aria-controls="talk-220607c258f7d75f8df74e7882bf5900",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-220607c258f7d75f8df74e7882bf5900.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 22nd
    h5.month.mb-0 April
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Nicolò Tonci]
    h4.title.mb-1
      | Targeting scale-out and scale-up platforms with a unified parallel programming model
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=M2ZibWpnNGY1MjFyM24zbWNsc25lMzByMDAgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-0fc6ae091715c1e4b706d8d21f6a4d02",aria-expanded="false",aria-controls="talk-0fc6ae091715c1e4b706d8d21f6a4d02",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-0fc6ae091715c1e4b706d8d21f6a4d02.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 29th
    h5.month.mb-0 April
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Alberto Ottimo]
    h4.title.mb-1
      | Data Stream Processing on FPGAs
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NmQzcGtobTRtYjhtbXRpcXFmbXU0ZmpsdXEgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-3f351ec14ef7a076a139d2d22384935b",aria-expanded="false",aria-controls="talk-3f351ec14ef7a076a139d2d22384935b",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-3f351ec14ef7a076a139d2d22384935b.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 6th
    h5.month.mb-0 May
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Marco Cardia]
    h4.title.mb-1
      | IT systems for assessing the environmental impact of industrial processes
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MGpmbnBxa3Vzb3JmOG9ubmFzbmtoM3U0bjEgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-1d8405179536da520409753ce2392097",aria-expanded="false",aria-controls="talk-1d8405179536da520409753ce2392097",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-1d8405179536da520409753ce2392097.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 13th
    h5.month.mb-0 May
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Luca Corbucci]
    h4.title.mb-1
      | Semantic enrichment of XAI explanation for healthcare
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NmdodGlwOHFwMjgxYnZrdTRiYmgycjMxazAgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-3803ecee41626eec181ae2d04eaae8eb",aria-expanded="false",aria-controls="talk-3803ecee41626eec181ae2d04eaae8eb",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-3803ecee41626eec181ae2d04eaae8eb.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 20th
    h5.month.mb-0 May
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Marco Gaglianese]
    h4.title.mb-1
      | Monitoring the Cloud-IoT continuum for latency-Aware applications placement
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MHI0bTk2OHZicjQyNmkycHZxZmc3cGg2YWIgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-fb2fed6460ad4a38de646d9df2d1ee24",aria-expanded="false",aria-controls="talk-fb2fed6460ad4a38de646d9df2d1ee24",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-fb2fed6460ad4a38de646d9df2d1ee24.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 27th
    h5.month.mb-0 May
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Alabbasi Wesam Nitham]
    h4.title.mb-1
      | Trustworthy AI and application use cases
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MGdjZnNiMmE3ZXNuYXJsN2Y4MWo5am85b3UgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-c8e42d7dc8766cc46971024f58e65f2d",aria-expanded="false",aria-controls="talk-c8e42d7dc8766cc46971024f58e65f2d",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-c8e42d7dc8766cc46971024f58e65f2d.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 3rd
    h5.month.mb-0 June
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Reshawn Ramjattan]
    h4.title.mb-1
      | Distributed machine learning on edge devices
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MHVnczMzMG5vMnZlNWo3NnFmanR0ZmZkMXMgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-6563bc4d0f1b25bb637d9df7493ca85b",aria-expanded="false",aria-controls="talk-6563bc4d0f1b25bb637d9df7493ca85b",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-6563bc4d0f1b25bb637d9df7493ca85b.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 10th
    h5.month.mb-0 June
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Giuseppe Lomurno]
    h4.title.mb-1
      | TBD
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MDVxc3VvbWQ3YTY1bWNhMnZoNjhnN2J0NGogY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-7fd200e56a6b7a577111d52be207e5ea",aria-expanded="false",aria-controls="talk-7fd200e56a6b7a577111d52be207e5ea",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-7fd200e56a6b7a577111d52be207e5ea.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 17th
    h5.month.mb-0 June
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Domenico Tortola]
    h4.title.mb-1
      | Trusted interactions in a trustless netwok: novel technical solutions
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MGZpOHR2ajZmYW45bm9pMzgzNHNhdDZnNzYgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-8aad6e491283d0b3c7e1c6e7e3fbec4a",aria-expanded="false",aria-controls="talk-8aad6e491283d0b3c7e1c6e7e3fbec4a",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-8aad6e491283d0b3c7e1c6e7e3fbec4a.collapse.mt-2
        | No abstract available