.row.mt-4.mb-4
  h2 #[span.emoji 🔮] Next Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 9th
    h5.month.mb-0 February
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Giacomo Antonioli]
    h4.title.mb-1
      | Quantum Image Processing
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-109bedda8c69f4ffb7fcf4d10fbacb1a",aria-expanded="false",aria-controls="talk-109bedda8c69f4ffb7fcf4d10fbacb1a")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Quantum Image Processing.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-109bedda8c69f4ffb7fcf4d10fbacb1a.collapse.mt-2
        | Quantum computing is a recent computational framework that utilizes unique properties of quantum mechanics. These properties enable algorithms to have exponential speedups over classical counterparts. This seminar will explore the application of this framework to image manipulation and analyze unsolved problems, such as matrix loading in the quantum framework and quantum convolutions.
.row.project
  .col-md-2.col-3
    h3.mb-0 16th
    h5.month.mb-0 February
    p 14:00-15:00
  .col-md-7.col-9
    p.author #[span.me Gabriel Alfredo Carmona Tabja]
    h4.title.mb-1
      | Lossy and lossless compression for matrices presented at Neural Networks
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-9a60ff40fc5c6b41c4459bdde2e6c5ce",aria-expanded="false",aria-controls="talk-9a60ff40fc5c6b41c4459bdde2e6c5ce")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-9a60ff40fc5c6b41c4459bdde2e6c5ce.collapse.mt-2
        | The Neural Networks (NN) field is rapidly advancing, achieving significant milestones annually. However, NN models are often overparameterized, with billions of parameters, requiring substantial memory and computational resources. These models consist of layers such as fully connected or convolutional layers, containing large matrices due to overparameterization. Predictions involve intensive matrix operations, adding to the computational load. In this seminar, we will present the techniques that are present today in the state of art, these techniques can be divided into two: lossy and lossless, this means that you can compress matrices loosing information or not loosing information. Then, we will discuss the problems of this topic and possible research studies that can be made.
.row.project
  .col-md-2.col-3
    h3.mb-0 16th
    h5.month.mb-0 February
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Molo Mbasa Joaquim]
    h4.title.mb-1
      | Towards Knowledge Distillation in Decentralized Learning for Edge AI. Challenges and Future Directions
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-0762599efc47fbbdc00297189827fb14",aria-expanded="false",aria-controls="talk-0762599efc47fbbdc00297189827fb14")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-0762599efc47fbbdc00297189827fb14.collapse.mt-2
        | Recent years have witnessed significant advancement in Artificial Intelligence (AI), particularly with the rise of Deep Neural Networks (DNNs) fueled by large datasets and increased model complexity. However, the demand for substantial computational resources poses challenges, especially in decentralized data scenarios. Edge Intelligence (EI), combining Edge Computing (EC) and AI, emerges as a transformative solution for decentralized learning, crucial in the era of IoT proliferation. Federated Learning (FL) and Knowledge Distillation (KD) represent prominent paradigms in decentralized learning, each with its unique challenges and opportunities. This seminar delves into the development of KD as a decentralized learning method, exploring its principles, unresolved challenges, and promising research avenues.