.row.project.next
  .col-md-4.date.col-3
    h1.day 15th
    h4.month.mb-0 January
    p 15:00-16:00
  .col-md-7.col-9
    h4.next_title.mb-0.mt-1
      a.title(href="")
        | Combinatorial properties of degree sequences of 3-uniform hypergraphs arising from saind arrays 
    p.author #[span.me Giulia Palma]
  .col-md-4.address.col-3
    p
      | Sala Seminari Est#[br]
      | Dipartimento di Informatica#[br]
      | Largo Bruno Pontecorvo 3#[br]
      | 56127, Pisa, PI
    p
      | #[a(href="") Sala Seminari Est]#[br]
      | #[a(href="") Add to Calendar]#[br]
      | #[a(href="") Google Meet]#[br]
      | #[a(href="") Slides]#[br]
  .col-md-7.col-9
      p
        | The characterization of k-uniform hypergraphs by their degree sequences, say k-sequences, has been a longstanding open problem for k>2. Very recently its decision version was proved to be NP-complete by Deza et al. Formally, the decision version of the problem is: Given π=(d1,d2,…,dn) a non increasing sequence of positive integers, is π the degree sequence of a k-uniform simple hypergraph? The NP-completeness reduction uses, in an intermediate step, a subclass of 3-uniform hypergraphs whose incidence matrices are computed starting from a sequence of integer numbers. In general, the complexity of the reconstruction of the elements of such a subclass is unknown.
