.row.mt-4.mb-4
  h2 #[span.emoji 🔮] Next Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 27th
    h5.month.mb-0 March
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Niccolò De Paolis]
    h4.title.mb-1
      | Bioinformatics
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-d5b22158f895b7e7fb7128a50e7e1d81",aria-expanded="false",aria-controls="talk-d5b22158f895b7e7fb7128a50e7e1d81",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-d5b22158f895b7e7fb7128a50e7e1d81.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 3rd
    h5.month.mb-0 April
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Nicola Leonardi]
    h4.title.mb-1
      | Digital Accessibility in the AI era: Promise, Pitfalls, and Progress
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-aedcf7788ad088602181f11ad8be720b",aria-expanded="false",aria-controls="talk-aedcf7788ad088602181f11ad8be720b",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-aedcf7788ad088602181f11ad8be720b.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 10th
    h5.month.mb-0 April
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Angelo Nardone]
    h4.title.mb-1
      | Lossless Text Compression
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-5bd4448e75cf7acf96a93a6242a42983",aria-expanded="false",aria-controls="talk-5bd4448e75cf7acf96a93a6242a42983",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-5bd4448e75cf7acf96a93a6242a42983.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 17th
    h5.month.mb-0 April
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Andrea Cardia]
    h4.title.mb-1
      | ML for Lagrangian Relaxation
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-00cf9d350c414bb1d0ad2fbb6ff62e3b",aria-expanded="false",aria-controls="talk-00cf9d350c414bb1d0ad2fbb6ff62e3b",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-00cf9d350c414bb1d0ad2fbb6ff62e3b.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 24th
    h5.month.mb-0 April
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Paolo Bernardi]
    h4.title.mb-1
      | qRAM and the Quantum Data Loading Bottleneck
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-b5f64b3acfff611ac34e66b1209271a6",aria-expanded="false",aria-controls="talk-b5f64b3acfff611ac34e66b1209271a6")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-b5f64b3acfff611ac34e66b1209271a6.collapse.mt-2
        | Many of the most optimistic asymptotic speedups in quantum algorithms for linear algebra and quantum machine learning rely on a strong input assumption: coherent access to large classical datasets in superposition via quantum random access memory (qRAM). In this seminar, qRAM will be presented as an open problem at the theory-engineering boundary, spanning architecture, fault tolerance, and algorithmic complexity.
.row.project
  .col-md-2.col-3
    h3.mb-0 8th
    h5.month.mb-0 May
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Antonino Vaccarella]
    h4.title.mb-1
      | Smart Adaptive Computing Across the Continuum
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-c1d9b8466e44f701d0248c2064395d03",aria-expanded="false",aria-controls="talk-c1d9b8466e44f701d0248c2064395d03",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-c1d9b8466e44f701d0248c2064395d03.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 15th
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Cristiano Ciaccio]
    h4.title.mb-1
      | Lexical Generalization in Neural Language Models: Evaluation and Stages of Inference
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-59be37d145d160375db126a602c1c7e1",aria-expanded="false",aria-controls="talk-59be37d145d160375db126a602c1c7e1",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-59be37d145d160375db126a602c1c7e1.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 22nd
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Francesco Girardello]
    h4.title.mb-1
      | Neurosymbolic AI applied to image segmentation
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-952cb31b1c60df78351d5763591b4db3",aria-expanded="false",aria-controls="talk-952cb31b1c60df78351d5763591b4db3",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-952cb31b1c60df78351d5763591b4db3.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 5th
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Syed Muzakkir Reza Sabri]
    h4.title.mb-1
      | Blockchain‑based Content Attribution for Multimedia: Evaluation and Open Challenges
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-78291cacd228256a5744b86d28e8e2f5",aria-expanded="false",aria-controls="talk-78291cacd228256a5744b86d28e8e2f5",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-78291cacd228256a5744b86d28e8e2f5.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 12th
    h5.month.mb-0 June
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Andrea Castagna]
    h4.title.mb-1
      | Data Compression
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-ea067ded72dd25acd6701036ff0c5996",aria-expanded="false",aria-controls="talk-ea067ded72dd25acd6701036ff0c5996",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-ea067ded72dd25acd6701036ff0c5996.collapse.mt-2
        | No abstract available