.row.project
  .col-md-2.col-3
    h3.mb-0 23rd
    h5.month.mb-0 February
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Matteo Loporchio]
    h5.title.mb-1
      | Techniques for query verification
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      a(data-bs-toggle="collapse",href="#collapseExample",role="button",aria-expanded="false",aria-controls="collapseExample").btn.btn-primary
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#collapseExample.collapse.mt-2
      | In recent years, many companies and private users have taken advantage of cloud services to store large collections of data, with a huge saving on infrastructure and maintenance costs.
      | Therefore, each time a user wants to retrieve information from the cloud it needs to issue a query and contact the cloud provider, which manages the data collectionon behalf of the owner.
      | In this scenario, however, nothing prevents the provider from sending back tampered or incomplete results.
      | As a consequence,all users must be able to detect any inconsistency in what they receive.
      | This problem is known in the literature as authenticated query processing and its solution hinges on the design of efficient algorithms and cryptographic protocols for data retrieval and authentication.
      | In this talk we will explore some state-of-the-art techniques to address it and discuss some of the challenges we must face when dealing with query processing in the context of blockchain environments.

.row.project
  .col-md-2.col-3
    h3.mb-0 5th
    h5.month.mb-0 March
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Francesco Francesconi]
    h5.title.mb-1
      | Computational design of metamaterials for achieving desired mechanical properties in digitally-fabricated shapes
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      a(data-bs-toggle="collapse",href="#collapseExample",role="button",aria-expanded="false",aria-controls="collapseExample").btn.btn-primary
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#collapseExample.collapse
      | In recent years, many companies and private users have taken advantage of cloud services to store large collections of data, with a huge saving on infrastructure and maintenance costs.
      | Therefore, each time a user wants to retrieve information from the cloud it needs to issue a query and contact the cloud provider, which manages the data collectionon behalf of the owner.
      | In this scenario, however, nothing prevents the provider from sending back tampered or incomplete results.
      | As a consequence,all users must be able to detect any inconsistency in what they receive.
      | This problem is known in the literature as authenticated query processing and its solution hinges on the design of efficient algorithms and cryptographic protocols for data retrieval and authentication.
      | In this talk we will explore some state-of-the-art techniques to address it and discuss some of the challenges we must face when dealing with query processing in the context of blockchain environments.
