.row.mt-4.mb-4
  h2 #[span.emoji 🔮] Next Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 5th
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Tauheed Waheed]
    h4.title.mb-1
      | The impact of IOT cyber-security in perspective of industry 4.0
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NDg4MWduamNoOHJ0ZnI1Z3Y2ZG1kZDNwbzYgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-a620d577bfa755d215e2808eabe3181a",aria-expanded="false",aria-controls="talk-a620d577bfa755d215e2808eabe3181a")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-a620d577bfa755d215e2808eabe3181a.collapse.mt-2
        | It is evident that digitalization and automation, bought a lot of business benefits but modern industrial systems require more efficient, trusted, and secured ways of communication. The trend of developing innovative and smart architectures notably in the fields of manufacturing, logistics, healthcare, and agriculture. To build these smart systems, the utilization of more IoT devices is increasing day by day. Industry leaders want to define clear business models and processes, which are reusable reliable reproducible and can be monitored adequately. Industry 4.0 provides connectivity and interconnectivity among industrial systems which has increased the number of IoT devices with broader challenges. It is paramount to mention that IoT ecosystem is supported by cloud solutions and data analytics to extract appropriate information for making our decisions. In this type of systems cyber-security becomes vital to have secure communication. In recent time Google cloud Microsoft Azure and Amazon are the most established cloud platforms because of their easy integration with IoT. Despite being world best robust, trusted, reliable commercial solutions the number of IoT devices are increasing in their system and indirectly it's expanding the surface of cyber-security threats and attacks. However, without secure communication It becomes quite difficult to use IoT systems.
.row.project
  .col-md-2.col-3
    h3.mb-0 12th
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Elena Scandurra]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-f1fe50144e604566da4e560f87da7431",aria-expanded="false",aria-controls="talk-f1fe50144e604566da4e560f87da7431")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-f1fe50144e604566da4e560f87da7431.collapse.mt-2
        | TBA
.row.project
  .col-md-2.col-3
    h3.mb-0 19th
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Hamid Gharb]
    h4.title.mb-1
      | Empowering smart and dynamic workflows for convergence of HPC, AI, and data analytics: challenges and possible solutions
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NDZhczhrMHN2cHRlMjdwdGtlNG45cWtmNGkgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-9271615d00b7a166a1894a586f54de5a",aria-expanded="false",aria-controls="talk-9271615d00b7a166a1894a586f54de5a")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-9271615d00b7a166a1894a586f54de5a.collapse.mt-2
        | It is an obvious fact that every evolution in HPC systems, will bring new complexities in applications workloads, due to increment in number of elements that compose the workflows, and also the type of computations they perform. While simulations and modelling of physical phenomena are targeted in traditional HPC workflows, there are some problems that require extra task computation in artificial intelligence (AI) and data analytics (DA). However, development of these workflows is prevented, mainly because of absence of appropriate programming model and environment that assist integration of HPC, AI, and DA, plus lack of tools to smoothly deploy and execute workloads in HPC platforms. To proceed in this way, use cases are presented where complex workloads are required and main issues that need to be addressed in HPC/DA/IA convergence is investigated. For doing so, first a software stack that provides the functionalities to manage these complex workflows is defined, and second, HPC workflows as a Service (HPCWaas) paradigm is proposed, which leverages the software stack to facilitate the reusability of complex workflows in federated HPC infrastructures
.row.project
  .col-md-2.col-3
    h3.mb-0 26th
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Giang Pham]
    h4.title.mb-1
      | Gene regulatory network: current approaches and challenges
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NDM3aTQ4ODI1NjJjbTYxZDFnb21uOXZjbHQgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-bb1ff52831f6b56994bac473ad8de336",aria-expanded="false",aria-controls="talk-bb1ff52831f6b56994bac473ad8de336")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-bb1ff52831f6b56994bac473ad8de336.collapse.mt-2
        | Genes are the basic unit of inheritance. They encode the information needed to specific the biological and physical features of living creatures. The process when the gene-encoded information is turned into functions is called gene expression. This process is carefully regulated by other genes and their products. For years, scientists have been working on building gene regulatory networks from gene expression data. Network inference is a commonly used technique. This talk will state the current approaches of network inference within this field and what are the remaining challenges needed to be tackled in the future. 