.row.mt-4.mb-4
  h2 #[span.emoji 🔮] Next Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 24th
    h5.month.mb-0 February
    p 17:00-18:00
  .col-md-7.col-9
    p.author #[span.me Bruno Agostinho]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-b5a589a93913ad337940e6b23dec0c3c",aria-expanded="false",aria-controls="talk-b5a589a93913ad337940e6b23dec0c3c")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-b5a589a93913ad337940e6b23dec0c3c.collapse.mt-2
        | TBA
.row.project
  .col-md-2.col-3
    h3.mb-0 3rd
    h5.month.mb-0 March
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Lorenzo Simone]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-baf7f21fa5131fe9369f764bd8f60e4e",aria-expanded="false",aria-controls="talk-baf7f21fa5131fe9369f764bd8f60e4e")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-baf7f21fa5131fe9369f764bd8f60e4e.collapse.mt-2
        | TBA
.row.project
  .col-md-2.col-3
    h3.mb-0 10th
    h5.month.mb-0 March
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Sara Joubbi]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-e0e564c614d0d4b95869d2d2eb2ec2f8",aria-expanded="false",aria-controls="talk-e0e564c614d0d4b95869d2d2eb2ec2f8")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-e0e564c614d0d4b95869d2d2eb2ec2f8.collapse.mt-2
        | TBA
.row.project
  .col-md-2.col-3
    h3.mb-0 24th
    h5.month.mb-0 March
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Marco De Vincenzi]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-69e16be4ced595783b8be2757a714651",aria-expanded="false",aria-controls="talk-69e16be4ced595783b8be2757a714651")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-69e16be4ced595783b8be2757a714651.collapse.mt-2
        | TBA
.row.project
  .col-md-2.col-3
    h3.mb-0 31st
    h5.month.mb-0 March
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Elia Piccoli]
    h4.title.mb-1
      | Continual Reinforcement Learning: towards Multi-Task and Generic Agents
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NnUzYmFlcmxibGhnNnNsdWo1cDc5bmM3NW4gY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-b6048eba8771dc53cc3d182003d2ec15",aria-expanded="false",aria-controls="talk-b6048eba8771dc53cc3d182003d2ec15")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-b6048eba8771dc53cc3d182003d2ec15.collapse.mt-2
        | In recent years, Reinforcement Learning has reached astonishing results and advancements in various research fields and applications such as games, robotics and chemistry. However, this has come at the cost of unsustainable computational efforts given the huge and complex deep architectures. A common characteristic of all state of art approaches is that the agent learns to solve a very specific task without reusing previously learned skills or knowledge. Continual Learning, on the other hand, seeks to create models that are able to incrementally learn from a sequence of tasks, while continually acquiring, fine-tuning, and transferring knowledge and skills throughout different tasks. As each task is temporally limited and discarded, the ability to forget and maintain knowledge is a critical and fundamental aspect. Continual Reinforcement Learning aims at creating agents that learn multiple tasks in a sequential fashion, trying to extend their abilities without loss of performances in previously learnt scenarios. But at the same time, agents are able to re-use or transfer previous knowledge to ease the process of learning a new task. In this presentation, I will cover the current state-of-the-art and analyze possible ideas that may help to improve the agent's performances and capabilities.
.row.project
  .col-md-2.col-3
    h3.mb-0 14th
    h5.month.mb-0 April
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Jeconia Kapitako]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-9f684f94c350b1914b16a2c40904be19",aria-expanded="false",aria-controls="talk-9f684f94c350b1914b16a2c40904be19")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-9f684f94c350b1914b16a2c40904be19.collapse.mt-2
        | TBA
.row.project
  .col-md-2.col-3
    h3.mb-0 21st
    h5.month.mb-0 April
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Fernanda Gomes]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-90fec8dcf37884a7adda5ac1e2ac3c47",aria-expanded="false",aria-controls="talk-90fec8dcf37884a7adda5ac1e2ac3c47")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-90fec8dcf37884a7adda5ac1e2ac3c47.collapse.mt-2
        | TBA
.row.project
  .col-md-2.col-3
    h3.mb-0 28th
    h5.month.mb-0 April
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Eric Nuertey Coleman]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-1f73c9f9dbe1add9d2606fb1047761b0",aria-expanded="false",aria-controls="talk-1f73c9f9dbe1add9d2606fb1047761b0")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-1f73c9f9dbe1add9d2606fb1047761b0.collapse.mt-2
        | TBA
.row.project
  .col-md-2.col-3
    h3.mb-0 5th
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Tauheed Waheed]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-a620d577bfa755d215e2808eabe3181a",aria-expanded="false",aria-controls="talk-a620d577bfa755d215e2808eabe3181a")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-a620d577bfa755d215e2808eabe3181a.collapse.mt-2
        | TBA
.row.project
  .col-md-2.col-3
    h3.mb-0 12th
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Elena Scandurra]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-f1fe50144e604566da4e560f87da7431",aria-expanded="false",aria-controls="talk-f1fe50144e604566da4e560f87da7431")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-f1fe50144e604566da4e560f87da7431.collapse.mt-2
        | TBA
.row.project
  .col-md-2.col-3
    h3.mb-0 19th
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Hamid Gharb]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-9271615d00b7a166a1894a586f54de5a",aria-expanded="false",aria-controls="talk-9271615d00b7a166a1894a586f54de5a")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-9271615d00b7a166a1894a586f54de5a.collapse.mt-2
        | TBA
.row.project
  .col-md-2.col-3
    h3.mb-0 26th
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Giang Pham]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-bb1ff52831f6b56994bac473ad8de336",aria-expanded="false",aria-controls="talk-bb1ff52831f6b56994bac473ad8de336")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-bb1ff52831f6b56994bac473ad8de336.collapse.mt-2
        | TBA