.row.mt-4.mb-4
  h2 #[span.emoji 🔮] Next Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 9th
    h5.month.mb-0 February
    p 14:00-15:00
  .col-md-7.col-9
    p.author #[span.me Niko Dalla Noce]
    h4.title.mb-1
      | Generating answers from semantically structured documents
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-ce2ba19007fbb2c14137cfececd427ba",aria-expanded="false",aria-controls="talk-ce2ba19007fbb2c14137cfececd427ba")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-ce2ba19007fbb2c14137cfececd427ba.collapse.mt-2
        | The use of large language models (LLMs) for question answering has grown considerably in recent years, especially since the introduction of ChatGPT. Although these are trained on datasets spanning large domains, not all topics can be covered. In some specific cases, we may want a model to be able to answer questions that refer to private documents, and therefore are not included in the datasets on which a model may have been trained, and to do so in a reliable and content-controlled way. Private texts can be semantically structured in databases or knowledge graphs. Fine-tuning a model would require the creation of ad hoc annotated datasets for these documents, which would be time consuming and resource intensive. On the other hand, direct prompting to LLMs without any tuning can lead to incorrect or inaccurate answers and thus hallucinations. We therefore want an LLM to be able to answer questions and then generate text from the documents stored in a structured way. The aim is to extend current work focused on text generation, which currently only takes simple knowledge graphs into account.
.row.project
  .col-md-2.col-3
    h3.mb-0 9th
    h5.month.mb-0 February
    p 14:00-15:00
  .col-md-7.col-9
    p.author #[span.me Giacomo Antonioli]
    h4.title.mb-1
      | Quantum Image Processing
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-109bedda8c69f4ffb7fcf4d10fbacb1a",aria-expanded="false",aria-controls="talk-109bedda8c69f4ffb7fcf4d10fbacb1a")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-109bedda8c69f4ffb7fcf4d10fbacb1a.collapse.mt-2
        | Quantum computing is a recent computational framework that utilizes unique properties of quantum mechanics. These properties enable algorithms to have exponential speedups over classical counterparts. This seminar will explore the application of this framework to image manipulation and analyze unsolved problems, such as matrix loading in the quantum framework and quantum convolutions.