.row.mt-4.mb-4
  h2 #[span.emoji 🔮] Next Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 3rd
    h5.month.mb-0 June
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Reshawn Ramjattan]
    h4.title.mb-1
      | Machine Learning for Industry 4.0
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MHVnczMzMG5vMnZlNWo3NnFmanR0ZmZkMXMgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-6563bc4d0f1b25bb637d9df7493ca85b",aria-expanded="false",aria-controls="talk-6563bc4d0f1b25bb637d9df7493ca85b")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-6563bc4d0f1b25bb637d9df7493ca85b.collapse.mt-2
        | Industry 4.0, or the fourth industrial revolution, refers to the rapid changes that interconnectivity and smart automation have brought to the industrial world. The scalability and automation of Machine Learning can enable significant improvements to efficiency and productivity in several areas of Industry 4.0. Top consulting companies estimate tremendous potential value from these ML-based solutions to industrial problems, and some companies have already started finding success. In this presentation, we will introduce the intersection of ML and Industry 4.0 through a systematic review of the academic literature as well as an industry perspective. We will also discuss the potential of some advancing ML areas, such as Continual Learning, Democratized Technology and Distributed ML. 
.row.project
  .col-md-2.col-3
    h3.mb-0 10th
    h5.month.mb-0 June
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Giuseppe Lomurno]
    h4.title.mb-1
      | Counterpart Semantics for Quantified Temporal Logic
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MDVxc3VvbWQ3YTY1bWNhMnZoNjhnN2J0NGogY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-7fd200e56a6b7a577111d52be207e5ea",aria-expanded="false",aria-controls="talk-7fd200e56a6b7a577111d52be207e5ea")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-7fd200e56a6b7a577111d52be207e5ea.collapse.mt-2
        | First-Order Linear Temporal Logic (FOLTL) is the extension of the well-known propositional Linear Temporal Logic with first-order quantification. Its interpretation is classically over Kripke-frames, that is, a set of time-points or worlds and an accessibility relation, the properties of which determine the axioms of the logic. However, such interpretation suffers limitations, since it requires restrictions on the accessibility relation between worlds. We introduce a novel semantics for FOLTL based on counterpart relations, i.e. families of partial homomorphisms between algebras. This approach overcomes most limitations, completely removing the trans-world identity problem and thus streamlining the modelling of dynamic creation, deletion and merging of entities.
.row.project
  .col-md-2.col-3
    h3.mb-0 17th
    h5.month.mb-0 June
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Domenico Tortola]
    h4.title.mb-1
      | Trusted interactions in a trustless netwok: novel technical solutions
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MGZpOHR2ajZmYW45bm9pMzgzNHNhdDZnNzYgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-8aad6e491283d0b3c7e1c6e7e3fbec4a",aria-expanded="false",aria-controls="talk-8aad6e491283d0b3c7e1c6e7e3fbec4a",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-8aad6e491283d0b3c7e1c6e7e3fbec4a.collapse.mt-2
        | No abstract available