.row.mt-4.mb-4
  h2 #[span.emoji 🔮] Next Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 10th
    h5.month.mb-0 June
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Domenico Tortola]
    h4.title.mb-1
      | Trusted interactions in a trustless netwok: novel technical solutions
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MGZpOHR2ajZmYW45bm9pMzgzNHNhdDZnNzYgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-8aad6e491283d0b3c7e1c6e7e3fbec4a",aria-expanded="false",aria-controls="talk-8aad6e491283d0b3c7e1c6e7e3fbec4a",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-8aad6e491283d0b3c7e1c6e7e3fbec4a.collapse.mt-2
        | No abstract available