.row.mt-4.mb-4
  h2 #[span.emoji 🔮] Next Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 20th
    h5.month.mb-0 February
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Filippo Magi]
    h4.title.mb-1
      | MILP: How to solve your (optimization) problems
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-7b6374a62f7cd8712cc46ef203bebe46",aria-expanded="false",aria-controls="talk-7b6374a62f7cd8712cc46ef203bebe46")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-7b6374a62f7cd8712cc46ef203bebe46.collapse.mt-2
        | In this talk we focus on discrete linear optimization. Starting from a mathematical formulation, we discuss the computational complexity of these problems, highlighting both tractable cases and sources of hardness. We then present two main solution paradigms for discrete optimization problems: dynamic programming and branch-and-bound methods. For dynamic programming, we provide a formal mathematical framework and explain its underlying principles. For branch and bound, we introduce linear relaxations, cutting-plane ideas, and Lagrangian relaxation, discussing their role in improving bounds and algorithmic performance.
.row.project
  .col-md-2.col-3
    h3.mb-0 27th
    h5.month.mb-0 February
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Saul Urso]
    h4.title.mb-1
      | TBD
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-65ad8416b72ec7a59e7f541307b808e3",aria-expanded="false",aria-controls="talk-65ad8416b72ec7a59e7f541307b808e3",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-65ad8416b72ec7a59e7f541307b808e3.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 6th
    h5.month.mb-0 March
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Fabrizio De Castelli]
    h4.title.mb-1
      | TBD
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-9d5707b332a2ca16a92cb108c521df2e",aria-expanded="false",aria-controls="talk-9d5707b332a2ca16a92cb108c521df2e",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-9d5707b332a2ca16a92cb108c521df2e.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 13th
    h5.month.mb-0 March
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Marco Lavorini]
    h4.title.mb-1
      | TBD
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-1c8b9646ee51a4edb38b8d8196a67048",aria-expanded="false",aria-controls="talk-1c8b9646ee51a4edb38b8d8196a67048",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-1c8b9646ee51a4edb38b8d8196a67048.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 20th
    h5.month.mb-0 March
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Leonardo Stoppani]
    h4.title.mb-1
      | TBD
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-3af86557bd428f358e99aed43e52a9f3",aria-expanded="false",aria-controls="talk-3af86557bd428f358e99aed43e52a9f3",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-3af86557bd428f358e99aed43e52a9f3.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 27th
    h5.month.mb-0 March
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Niccolò De Paolis]
    h4.title.mb-1
      | TBD
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-d5b22158f895b7e7fb7128a50e7e1d81",aria-expanded="false",aria-controls="talk-d5b22158f895b7e7fb7128a50e7e1d81",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-d5b22158f895b7e7fb7128a50e7e1d81.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 3rd
    h5.month.mb-0 April
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Nicola Leonardi]
    h4.title.mb-1
      | TBD
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-aedcf7788ad088602181f11ad8be720b",aria-expanded="false",aria-controls="talk-aedcf7788ad088602181f11ad8be720b",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-aedcf7788ad088602181f11ad8be720b.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 10th
    h5.month.mb-0 April
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Angelo Nardone]
    h4.title.mb-1
      | TBD
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-5bd4448e75cf7acf96a93a6242a42983",aria-expanded="false",aria-controls="talk-5bd4448e75cf7acf96a93a6242a42983",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-5bd4448e75cf7acf96a93a6242a42983.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 17th
    h5.month.mb-0 April
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Andrea Cardia]
    h4.title.mb-1
      | TBD
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-00cf9d350c414bb1d0ad2fbb6ff62e3b",aria-expanded="false",aria-controls="talk-00cf9d350c414bb1d0ad2fbb6ff62e3b",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-00cf9d350c414bb1d0ad2fbb6ff62e3b.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 24th
    h5.month.mb-0 April
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Paolo Bernardi]
    h4.title.mb-1
      | TBD
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-b5f64b3acfff611ac34e66b1209271a6",aria-expanded="false",aria-controls="talk-b5f64b3acfff611ac34e66b1209271a6",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-b5f64b3acfff611ac34e66b1209271a6.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 8th
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Cristiano Ciaccio]
    h4.title.mb-1
      | TBD
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-59be37d145d160375db126a602c1c7e1",aria-expanded="false",aria-controls="talk-59be37d145d160375db126a602c1c7e1",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-59be37d145d160375db126a602c1c7e1.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 15th
    h5.month.mb-0 May
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Antonino Vaccarella]
    h4.title.mb-1
      | TBD
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-c1d9b8466e44f701d0248c2064395d03",aria-expanded="false",aria-controls="talk-c1d9b8466e44f701d0248c2064395d03",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-c1d9b8466e44f701d0248c2064395d03.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 22nd
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Francesco Girardello]
    h4.title.mb-1
      | TBD
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-952cb31b1c60df78351d5763591b4db3",aria-expanded="false",aria-controls="talk-952cb31b1c60df78351d5763591b4db3",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-952cb31b1c60df78351d5763591b4db3.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 29th
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Syed Muzakkir Reza Sabri]
    h4.title.mb-1
      | TBD
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-78291cacd228256a5744b86d28e8e2f5",aria-expanded="false",aria-controls="talk-78291cacd228256a5744b86d28e8e2f5",aria-disabled="true",disabled)
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-78291cacd228256a5744b86d28e8e2f5.collapse.mt-2
        | No abstract available