.row.d-block.d-sm-block.d-md-none
  h2 Upcoming Talk
.row.d-none.d-md-block.mb-4
  hr
.row.project.next
  .col-md-3.date.d-none.d-md-block
    h1.day 15th
    h4.month January
    p.small 15:00-16:00
    p.small
      | Sala Seminari Est#[br]
      | Dipartimento di Informatica#[br]
      | Largo Bruno Pontecorvo 3#[br]
      | 56127, Pisa, PI
    p.small #[a Google Meet]
  .col-md-9.col-sm-12
    .row
      h2.next_title
        a.title(href="")
          | Combinatorial properties of degree sequences of 3-uniform hypergraphs arising from saind arrays 
    .row
      .col-sm-6
        p.author #[span.me Giulia Palma]
      .col-sm-6.d-block.d-sm-block.d-md-none.date
        p.mb-0 #[span.day 15th] January, 15:00-16:00
        p.small
          | @#[a(href="") Sala Seminari Est], #[a(href="") Google Meet]
    .row.mt-3
      p
        | The characterization of k-uniform hypergraphs by their degree sequences, say k-sequences, has been a longstanding open problem for k>2. Very recently its decision version was proved to be NP-complete by Deza et al. Formally, the decision version of the problem is: Given π=(d1,d2,…,dn) a non increasing sequence of positive integers, is π the degree sequence of a k-uniform simple hypergraph? The NP-completeness reduction uses, in an intermediate step, a subclass of 3-uniform hypergraphs whose incidence matrices are computed starting from a sequence of integer numbers. In general, the complexity of the reconstruction of the elements of such a subclass is unknown.
.row.d-none.d-md-block
  hr
