.row.mt-4.mb-4
  h2 #[span.emoji 🔮] Next Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 17th
    h5.month.mb-0 February
    p 17:00-18:00
  .col-md-7.col-9
    p.author #[span.me Gabriele Tedeschi]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-f38993488eab5a03ec57887be8b95bd4",aria-expanded="false",aria-controls="talk-f38993488eab5a03ec57887be8b95bd4")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-f38993488eab5a03ec57887be8b95bd4.collapse.mt-2
        | TBA
.row.project
  .col-md-2.col-3
    h3.mb-0 3rd
    h5.month.mb-0 March
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Lorenzo Simone]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-baf7f21fa5131fe9369f764bd8f60e4e",aria-expanded="false",aria-controls="talk-baf7f21fa5131fe9369f764bd8f60e4e")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-baf7f21fa5131fe9369f764bd8f60e4e.collapse.mt-2
        | TBA
.row.project
  .col-md-2.col-3
    h3.mb-0 10th
    h5.month.mb-0 March
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Sara Joubbi]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-e0e564c614d0d4b95869d2d2eb2ec2f8",aria-expanded="false",aria-controls="talk-e0e564c614d0d4b95869d2d2eb2ec2f8")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-e0e564c614d0d4b95869d2d2eb2ec2f8.collapse.mt-2
        | TBA
.row.project
  .col-md-2.col-3
    h3.mb-0 24th
    h5.month.mb-0 March
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Marco De Vincenzi]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-69e16be4ced595783b8be2757a714651",aria-expanded="false",aria-controls="talk-69e16be4ced595783b8be2757a714651")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-69e16be4ced595783b8be2757a714651.collapse.mt-2
        | TBA
.row.project
  .col-md-2.col-3
    h3.mb-0 31st
    h5.month.mb-0 March
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Elia Piccoli]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-b6048eba8771dc53cc3d182003d2ec15",aria-expanded="false",aria-controls="talk-b6048eba8771dc53cc3d182003d2ec15")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-b6048eba8771dc53cc3d182003d2ec15.collapse.mt-2
        | TBA
.row.project
  .col-md-2.col-3
    h3.mb-0 14th
    h5.month.mb-0 April
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Jeconia Kapitako]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-9f684f94c350b1914b16a2c40904be19",aria-expanded="false",aria-controls="talk-9f684f94c350b1914b16a2c40904be19")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-9f684f94c350b1914b16a2c40904be19.collapse.mt-2
        | TBA
.row.project
  .col-md-2.col-3
    h3.mb-0 12th
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Elena Scandurra]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-f1fe50144e604566da4e560f87da7431",aria-expanded="false",aria-controls="talk-f1fe50144e604566da4e560f87da7431")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-f1fe50144e604566da4e560f87da7431.collapse.mt-2
        | TBA
.row.project
  .col-md-2.col-3
    h3.mb-0 19th
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Hamid Gharb]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-9271615d00b7a166a1894a586f54de5a",aria-expanded="false",aria-controls="talk-9271615d00b7a166a1894a586f54de5a")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-9271615d00b7a166a1894a586f54de5a.collapse.mt-2
        | TBA
.row.project
  .col-md-2.col-3
    h3.mb-0 26th
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Giang Pham]
    h4.title.mb-1
      | TBA
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-bb1ff52831f6b56994bac473ad8de336",aria-expanded="false",aria-controls="talk-bb1ff52831f6b56994bac473ad8de336")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-bb1ff52831f6b56994bac473ad8de336.collapse.mt-2
        | TBA