.row.mt-4.mb-4
  h2 #[span.emoji 🔮] Next Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 8th
    h5.month.mb-0 March
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Silvio Martinico]
    h4.title.mb-1
      | Graph-based Approximate Nearest Neighbors Search
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-d59dd36c3a53130863c17d7ed8526d9a",aria-expanded="false",aria-controls="talk-d59dd36c3a53130863c17d7ed8526d9a")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Graph-based Approximate Nearest Neighbors Search.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-d59dd36c3a53130863c17d7ed8526d9a.collapse.mt-2
        | In the era of Big Data, Similarity Search has become a fundamental paradigm for identifying relevant items, especially in fields like search engines and recommendation systems, where pinpointing similarities is key. Advances in neural networks have enabled the representation of objects as numerical vectors, simplifying Similarity Search into calculations of distances within vector spaces. Among the various techniques developed to address this challenge, graph-based methods stand out. These methods, which connect vectors through edges to facilitate the search process, have proven to be the most efficient and promising approach.