.row.mt-4.mb-4
  h2 #[span.emoji 🔮] Next Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 26th
    h5.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Giang Pham]
    h4.title.mb-1
      | Shapley value in a nutshell
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NDM3aTQ4ODI1NjJjbTYxZDFnb21uOXZjbHQgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-bb1ff52831f6b56994bac473ad8de336",aria-expanded="false",aria-controls="talk-bb1ff52831f6b56994bac473ad8de336")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Shapley value in a nutshell.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-bb1ff52831f6b56994bac473ad8de336.collapse.mt-2
        | A brief about game theory, coalition game and Shapley value. Applications of Shapley value in current issues and its problems.