.row.mt-4.mb-4
  h2 #[span.emoji 🔮] Next Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 28th
    h5.month.mb-0 January
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Tarlis Portela]
    h4.title.mb-1
      | Movelet-based Classification of Multiple Aspect Trajectories
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NWFnZzA3bnE4bGIzNXVjMG41aWNlYms2MmcgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      a(data-bs-toggle="collapse",href="#a360e3e77b94b30927b97f84b5c16b92",role="button",aria-expanded="false",aria-controls="collapseExample").btn.btn-primary.disabled
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#a360e3e77b94b30927b97f84b5c16b92.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 4th
    h5.month.mb-0 February
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Riccardo Massidda]
    h4.title.mb-1
      | Semantic Interpretation of Neural Networks
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NzEwcWF2NmRlZm8yMGwxN2l2cXA3Y3Q4M2ogY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      a(data-bs-toggle="collapse",href="#89ee1ad65c602ab48f5110f2fe9e267e",role="button",aria-expanded="false",aria-controls="collapseExample").btn.btn-primary.disabled
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#89ee1ad65c602ab48f5110f2fe9e267e.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 18th
    h5.month.mb-0 February
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Andrea Guerra]
    h4.title.mb-1
      | Data structure with privacy preserving
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NGd2dnZrdjh2MTgwNzM2NnM5NTJmc3ZlMTMgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      a(data-bs-toggle="collapse",href="#e001100025bd1526e0397c7d5f669a02",role="button",aria-expanded="false",aria-controls="collapseExample").btn.btn-primary.disabled
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#e001100025bd1526e0397c7d5f669a02.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 25th
    h5.month.mb-0 February
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Jacopo Massa]
    h4.title.mb-1
      | Data-aware application placement and routing in the Cloud-IoT continuum
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MHJ0bDc5aDQzZjZ0ODRjbjFzbDRwbHJuYXUgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      a(data-bs-toggle="collapse",href="#65c5a835116e193addcf400ddb633b01",role="button",aria-expanded="false",aria-controls="collapseExample").btn.btn-primary.disabled
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#65c5a835116e193addcf400ddb633b01.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 11th
    h5.month.mb-0 March
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Martina Cinquini]
    h4.title.mb-1
      | CALIME: Causality-Aware Local Interpretable Model-agnostic Explanations
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=N3BqdThncWpvNWRtcDJ1aWswZTQ2aWdzM2MgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      a(data-bs-toggle="collapse",href="#f25df3728ef8e03c4ea746ad3be8a3a0",role="button",aria-expanded="false",aria-controls="collapseExample").btn.btn-primary.disabled
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#f25df3728ef8e03c4ea746ad3be8a3a0.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 18th
    h5.month.mb-0 March
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Chiara Pugliese]
    h4.title.mb-1
      | Multiple-Aspect Trajectories Analysis
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=M2NsZ3UwZWs4NzQ1aGt0OXR2azBwZDA5NGkgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      a(data-bs-toggle="collapse",href="#cadb9df36e6dab4e24e276736302229d",role="button",aria-expanded="false",aria-controls="collapseExample").btn.btn-primary.disabled
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#cadb9df36e6dab4e24e276736302229d.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 25th
    h5.month.mb-0 March
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Federica Di Pasquale]
    h4.title.mb-1
      | Parallel Combinatorial Optimization
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MDVxM2RmamY2dDIyODJrNHQ2NXJtdjE1NGYgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      a(data-bs-toggle="collapse",href="#a7ff5d571b7acbc02556fc7b7a155162",role="button",aria-expanded="false",aria-controls="collapseExample").btn.btn-primary.disabled
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#a7ff5d571b7acbc02556fc7b7a155162.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 22nd
    h5.month.mb-0 April
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Nicolò Tonci]
    h4.title.mb-1
      | Targeting scale-out and scale-up platforms with a unified parallel programming model
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=M2ZibWpnNGY1MjFyM24zbWNsc25lMzByMDAgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      a(data-bs-toggle="collapse",href="#0fc6ae091715c1e4b706d8d21f6a4d02",role="button",aria-expanded="false",aria-controls="collapseExample").btn.btn-primary.disabled
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#0fc6ae091715c1e4b706d8d21f6a4d02.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 29th
    h5.month.mb-0 April
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Alberto Ottimo]
    h4.title.mb-1
      | Data Stream Processing on FPGAs
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NmQzcGtobTRtYjhtbXRpcXFmbXU0ZmpsdXEgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      a(data-bs-toggle="collapse",href="#3f351ec14ef7a076a139d2d22384935b",role="button",aria-expanded="false",aria-controls="collapseExample").btn.btn-primary.disabled
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#3f351ec14ef7a076a139d2d22384935b.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 6th
    h5.month.mb-0 May
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Marco Cardia]
    h4.title.mb-1
      | IT systems for assessing the environmental impact of industrial processes
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MGpmbnBxa3Vzb3JmOG9ubmFzbmtoM3U0bjEgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      a(data-bs-toggle="collapse",href="#1d8405179536da520409753ce2392097",role="button",aria-expanded="false",aria-controls="collapseExample").btn.btn-primary.disabled
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#1d8405179536da520409753ce2392097.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 13th
    h5.month.mb-0 May
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Luca Corbucci]
    h4.title.mb-1
      | Semantic enrichment of XAI explanation for healthcare
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NmdodGlwOHFwMjgxYnZrdTRiYmgycjMxazAgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      a(data-bs-toggle="collapse",href="#3803ecee41626eec181ae2d04eaae8eb",role="button",aria-expanded="false",aria-controls="collapseExample").btn.btn-primary.disabled
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#3803ecee41626eec181ae2d04eaae8eb.collapse.mt-2
        | No abstract available
.row.project
  .col-md-2.col-3
    h3.mb-0 3rd
    h5.month.mb-0 June
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Reshawn Ramjattan]
    h4.title.mb-1
      | Distributed machine learning on edge devices
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MHVnczMzMG5vMnZlNWo3NnFmanR0ZmZkMXMgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      a(data-bs-toggle="collapse",href="#6563bc4d0f1b25bb637d9df7493ca85b",role="button",aria-expanded="false",aria-controls="collapseExample").btn.btn-primary.disabled
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#6563bc4d0f1b25bb637d9df7493ca85b.collapse.mt-2
        | No abstract available