.row.mt-4.mb-4
  h2 #[span.emoji ⌛️] Past Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 24th
    h5.month.mb-0 January
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Calogero Turco]
    h4.title.mb-1
      | Trust Approaches in Self-Sovereign Identity
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-10c6ca75931c1a4dd426a2e4f9ed6c86",aria-expanded="false",aria-controls="talk-10c6ca75931c1a4dd426a2e4f9ed6c86")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Trust Approaches in Self-Sovereign Identity.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-10c6ca75931c1a4dd426a2e4f9ed6c86.collapse.mt-2
        | Digital Identity today is mainly centralized, with platforms like Google and Facebook controlling user's data. This lack of control has led to significant privacy concerns, such as the Cambridge Analytica scandal. Self-Sovereign Identity (SSI) is a paradigm shift that decentralizes Digital Identity by giving control back to the individuals it refers to. In SSI, individuals are called Holders and can decide what parts of their identity to expose. Each Holder has Verifiable Credentials (e.g., degree) in their digital wallet, issued by entities called Issuers (e.g., University). Holders present those Verifiable Credentials to any subject interested in information about them and who can act as a Verifier (e.g., recruiter). Unfortunately, no consolidated solutions exist to certify the Issuer's trustworthiness in issuing a specific credential or that the Holder can trust the Verifier in managing their sensitive data. How do we ensure that Issuers are trustworthy and Verifiers are competent to handle sensitive data responsibly? We will see some proposed methods for this and evaluate their suitability for different scenarios. Resolving these issues is essential to fully realizing the potential of SSI and creating a more secure, user-centric Digital Identity ecosystem.
.row.project
  .col-md-2.col-3
    h3.mb-0 7th
    h5.month.mb-0 February
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Michele Papucci]
    h4.title.mb-1
      | Toronto is the capital of Canada: Detecting and Preventing LLMs from Hallucinating
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-784e3135a60c0db7e4803f0b0d532757",aria-expanded="false",aria-controls="talk-784e3135a60c0db7e4803f0b0d532757")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Toronto is the capital of Canada_ Detecting and Preventing LLMs from Hallucinating.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-784e3135a60c0db7e4803f0b0d532757.collapse.mt-2
        | Large Language Models (LLMs) have revolutionized Natural Language Processing (NLP) applications, reaching new state-of-the-art performances in all kinds of tasks and domains, especially in content generation scenarios. However, these models are prone to generating Hallucinations, which are factually incorrect, misleading, and non-sensical outputs that are presented in a convincingly accurate manner. This phenomenon poses significant risks, particularly in fields such as healthcare, legal services, etc. This seminar will briefly present the nature of hallucinations in LLMs, their underlying causes, and the challenges in detecting them. By understanding and preventing hallucination, LLM reliability can be improved, ensuring safer and more trustworthy AI applications.
.row.project
  .col-md-2.col-3
    h3.mb-0 14th
    h5.month.mb-0 February
    p 14:00-15:00
  .col-md-7.col-9
    p.author #[span.me Jack Bell]
    h4.title.mb-1
      | Bridging the ARC: From Intrigue to Innovation
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-0a57a2267781314fad70554c05ebdd05",aria-expanded="false",aria-controls="talk-0a57a2267781314fad70554c05ebdd05")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Bridging the ARC_ From Intrigue to Innovation.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-0a57a2267781314fad70554c05ebdd05.collapse.mt-2
        | The ARC (Abstract Reasoning Corpus) Prize, emphasising skill acquisition over task-specific performance, redefines how intelligence, both human and artificial, should be measured. It builds on insights challenging traditional benchmarks and posits that true intelligence lies in an agent’s ability to rapidly learn and generalise from minimal exposure, as opposed to performing well only on predefined tasks with extensive training data. The ARC Benchmark presents abstract, open-ended problems designed to test human-like reasoning and adaptability, while the ARC Prize incentivises interdisciplinary approaches that blend rigorous theoretical analysis with practical data-driven approaches. Together, they tackle challenges such as scalability, inherent randomness and non-determinism, catalysing a paradigm shift toward AI systems that embody generalisable intelligence.
.row.project
  .col-md-2.col-3
    h3.mb-0 21st
    h5.month.mb-0 February
    p  14:00-15:00
  .col-md-7.col-9
    p.author #[span.me Elisa Salatti]
    h4.title.mb-1
      | Designing eHealth systems for people with disability: the trade-off between personalization and universality
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-e28a662a1210a43e9a1d62bbc6ad5d8e",aria-expanded="false",aria-controls="talk-e28a662a1210a43e9a1d62bbc6ad5d8e")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Designing eHealth systems for people with disability_ the trade-off between personalization and universality.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-e28a662a1210a43e9a1d62bbc6ad5d8e.collapse.mt-2
        | Access to quality healthcare services is a recognized human right. Despite the use of technology, this right is not guaranteed for everyone, especially people with disabilities. Designing eHealth systems for people with disabilities requires an interdisciplinary approach and a balance between personalization and universality. We have technologies, methods and tools to develop systems that solve specific access problems in healthcare. However, to achieve universal products and reduce costs, the results of these efforts must be generalized. This seminar addresses the challenges and opportunities in developing inclusive eHealth systems and emphasizes the importance of a participatory approach to improve the accessibility and quality of healthcare for all.
.row.project
  .col-md-2.col-3
    h3.mb-0 28th
    h5.month.mb-0 February
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Ornela Danushi]
    h4.title.mb-1
      | On Carbon Efficient Software Systems
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-3d640caa3d78164252c205e487b4d93f",aria-expanded="false",aria-controls="talk-3d640caa3d78164252c205e487b4d93f")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-3d640caa3d78164252c205e487b4d93f.collapse.mt-2
        | The ICT sector, responsible for 2% of global carbon emissions, is under scrutiny and requires methods and tools to design and develop software in an environmentally sustainable way. However, software engineering solutions for designing and developing carbon-efficient software are currently scattered in different literature, making it difficult to consult the body of knowledge on the topic. This seminar presents the results of a systematic literature review of state-of-the-art proposals for the design and development of carbon-efficient software. The analysis is based on the identification of 65 primary studies by classifying them through a taxonomy aimed at answering the 5W1H questions of carbon-efficient software design and development. Specifically, it provides a reasoned overview and discussion of the existing guidelines, reference models, measurement solutions and techniques for measuring, reducing, or minimising the carbon footprint of software. Finally, open challenges and research gaps are listed to provide insights for future work in this area.