.row.mt-4.mb-4
  h2 #[span.emoji ⌛️] Past Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 19th
    h5.month.mb-0 January
    p 14:00-16:00
  .col-md-7.col-9
    p.author #[span.me Mariagiovanna Rotundo & Mattia Odorisio]
    h4.title.mb-1
      | Indexing string dictionaries
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-084535d99e457897a38a6220ed8fec3d",aria-expanded="false",aria-controls="talk-084535d99e457897a38a6220ed8fec3d")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Indexing string dictionaries.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-084535d99e457897a38a6220ed8fec3d.collapse.mt-2
        | In this seminar, we will discuss how to index sorted string dictionaries. We will present the state-of-the-art support data structures based on different kinds of tries, describing also the current open problem related to dynamic string dictionaries. In the second part, we will discuss how to augment indexing data structures with machine learning. While the literature provides learned indexes for numerical values that are more effective w.r.t. the classical counterpart, the problem is still open for strings.
.row.project
  .col-md-2.col-3
    h3.mb-0 26th
    h5.month.mb-0 January
    p 14:00-15:00
  .col-md-7.col-9
    p.author #[span.me Camilla Poggianti]
    h4.title.mb-1
      | Unlocking the potential of Virtual and Augmented Reality in inclusive adult education
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-eb83626469272699b08f0e471a58ba88",aria-expanded="false",aria-controls="talk-eb83626469272699b08f0e471a58ba88")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Unlocking the potential of Virtual and Augmented Reality in inclusive adult education.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-eb83626469272699b08f0e471a58ba88.collapse.mt-2
        | UNESCO data from 2017 shows a staggering “learning crisis” affecting millions of people, especially students with disabilities. To combat this, Universal Design for Learning (UDL) emerged in the 1990s, advocating for a tailored curriculum. Studies emphasize how appropriate use of Information and Communication Technology (ICT) can accelerate the adoption and application of UDL in various educational systems and benefit students with disabilities. Among ICTs, Virtual and Augmented Reality appear to have great potential for UDL as they are attention-grabbing and create immersive, personalized experiences that are difficult to replicate in person. Despite their potential, VR and AR are still little used in real educational contexts and most proposals in the literature relate to children. The seminar will focus on a systematic literature review that identifies research gaps, such as the lack of guidelines that inform and guide the design and development of AR apps, and the lack of attention given to the orientation and university education of students with disabilities. It identifies a number of open problems holding back the use of immersive technologies in the university environment and concludes with suggestions for an inclusive university.
.row.project
  .col-md-2.col-3
    h3.mb-0 26th
    h5.month.mb-0 January
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Ben William Gerriety Cullen]
    h4.title.mb-1
      | Topologically Informed Graph Neural Networks
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-c3a901b518fc5be1902cfb7cbcc2e487",aria-expanded="false",aria-controls="talk-c3a901b518fc5be1902cfb7cbcc2e487")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Topologically Informed Graph Neural Networks.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-c3a901b518fc5be1902cfb7cbcc2e487.collapse.mt-2
        | Unlike traditional machine learning (ML) paradigms, graph neural networks (GNNs) are a class of ML models that can process graph structured data natively. Such models have proven successful in many diverse applications such as computational chemistry, biology, drug design, and social network analysis; however theoretical frameworks for understanding their expressivity - that is their power  - are scarce. Analysis of the expressivity of graph based models is either done empirically using standard data sets (as determined by the literature) or with recourse to their comparison with the Weisfeiler Lehmann (WL) heuristics for graph isomorphism testing. The latter has proven successful in both understanding the sufficient conditions for optimising the expressivity of a standard GNN as well as the development of more expressive models such as k-GNNs. However, several seminal publications have demonstrated that GNNs that are determined expressive in the WL framework perform poorly on substructure identification tasks. Such tasks are crucial for the aforementioned applications and, consequently, the scope of expressivity must encompass them. In this presentation we explore the fundamentals of GNNs and their importance as a model class in machine learning. We discuss the Weisfeiler-Lehman framework for expressivity, providing examples of how these heuristics compare to the computational capabilities of standard GNNs and hence allow us to better understand their behaviour.  Furthermore, we consider why GNNs struggle on tasks that involve substructure identification and hence motivate the application of concepts in algebraic topology for the development of new topologically informed graph neural networks.
.row.project
  .col-md-2.col-3
    h3.mb-0 2nd
    h5.month.mb-0 February
    p 14:00-15:00
  .col-md-7.col-9
    p.author #[span.me Giacomo Vaiani]
    h4.title.mb-1
      | End-User Development for Human-Robot Interaction Approaches and Possibilities
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-6a63a5c3da9d65dbb6741f894132d7a6",aria-expanded="false",aria-controls="talk-6a63a5c3da9d65dbb6741f894132d7a6")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/End-User Development for Human-Robot Interaction Approaches and Possibilities.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-6a63a5c3da9d65dbb6741f894132d7a6.collapse.mt-2
        | End-User Development (EUD) is a research topic that aims to allow people without programming experience with concepts, methods, and tools enabling them to create or modify their applications. Recent mainstream technological trends associated with the Internet of Things and the widespread presence of robots in professional, social, and domestic settings have increased interest in this approach. In this presentation, we highlight the main aspects and open problems identified in surveys related to the topic. Additionally, we discuss potential research directions to develop an enhanced approach to EUD, allowing the robot itself to autonomously contribute to solving previously unseen tasks through activities programmed by users.
.row.project
  .col-md-2.col-3
    h3.mb-0 9th
    h5.month.mb-0 February
    p 14:00-15:00
  .col-md-7.col-9
    p.author #[span.me Niko Dalla Noce]
    h4.title.mb-1
      | Generating answers from semantically structured documents
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-ce2ba19007fbb2c14137cfececd427ba",aria-expanded="false",aria-controls="talk-ce2ba19007fbb2c14137cfececd427ba")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Generating answers from semantically structured documents.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-ce2ba19007fbb2c14137cfececd427ba.collapse.mt-2
        | The use of large language models (LLMs) for question answering has grown considerably in recent years, especially since the introduction of ChatGPT. Although these are trained on datasets spanning large domains, not all topics can be covered. In some specific cases, we may want a model to be able to answer questions that refer to private documents, and therefore are not included in the datasets on which a model may have been trained, and to do so in a reliable and content-controlled way. Private texts can be semantically structured in databases or knowledge graphs. Fine-tuning a model would require the creation of ad hoc annotated datasets for these documents, which would be time consuming and resource intensive. On the other hand, direct prompting to LLMs without any tuning can lead to incorrect or inaccurate answers and thus hallucinations. We therefore want an LLM to be able to answer questions and then generate text from the documents stored in a structured way. The aim is to extend current work focused on text generation, which currently only takes simple knowledge graphs into account.
.row.project
  .col-md-2.col-3
    h3.mb-0 9th
    h5.month.mb-0 February
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Giacomo Antonioli]
    h4.title.mb-1
      | Quantum Image Processing
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-109bedda8c69f4ffb7fcf4d10fbacb1a",aria-expanded="false",aria-controls="talk-109bedda8c69f4ffb7fcf4d10fbacb1a")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Quantum Image Processing.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-109bedda8c69f4ffb7fcf4d10fbacb1a.collapse.mt-2
        | Quantum computing is a recent computational framework that utilizes unique properties of quantum mechanics. These properties enable algorithms to have exponential speedups over classical counterparts. This seminar will explore the application of this framework to image manipulation and analyze unsolved problems, such as matrix loading in the quantum framework and quantum convolutions.
.row.project
  .col-md-2.col-3
    h3.mb-0 16th
    h5.month.mb-0 February
    p 14:00-15:00
  .col-md-7.col-9
    p.author #[span.me Gabriel Alfredo Carmona Tabja]
    h4.title.mb-1
      | Lossy and lossless compression for matrices presented at Neural Networks
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-9a60ff40fc5c6b41c4459bdde2e6c5ce",aria-expanded="false",aria-controls="talk-9a60ff40fc5c6b41c4459bdde2e6c5ce")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Lossy and lossless compression for matrices presented at Neural Networks.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-9a60ff40fc5c6b41c4459bdde2e6c5ce.collapse.mt-2
        | The Neural Networks (NN) field is rapidly advancing, achieving significant milestones annually. However, NN models are often overparameterized, with billions of parameters, requiring substantial memory and computational resources. These models consist of layers such as fully connected or convolutional layers, containing large matrices due to overparameterization. Predictions involve intensive matrix operations, adding to the computational load. In this seminar, we will present the techniques that are present today in the state of art, these techniques can be divided into two: lossy and lossless, this means that you can compress matrices loosing information or not loosing information. Then, we will discuss the problems of this topic and possible research studies that can be made.
.row.project
  .col-md-2.col-3
    h3.mb-0 16th
    h5.month.mb-0 February
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Molo Mbasa Joaquim]
    h4.title.mb-1
      | Towards Knowledge Distillation in Decentralized Learning for Edge AI. Challenges and Future Directions
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-0762599efc47fbbdc00297189827fb14",aria-expanded="false",aria-controls="talk-0762599efc47fbbdc00297189827fb14")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Towards Knowledge Distillation in Decentralized Learning for Edge AI. Challenges and Future Directions.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-0762599efc47fbbdc00297189827fb14.collapse.mt-2
        | Recent years have witnessed significant advancement in Artificial Intelligence (AI), particularly with the rise of Deep Neural Networks (DNNs) fueled by large datasets and increased model complexity. However, the demand for substantial computational resources poses challenges, especially in decentralized data scenarios. Edge Intelligence (EI), combining Edge Computing (EC) and AI, emerges as a transformative solution for decentralized learning, crucial in the era of IoT proliferation. Federated Learning (FL) and Knowledge Distillation (KD) represent prominent paradigms in decentralized learning, each with its unique challenges and opportunities. This seminar delves into the development of KD as a decentralized learning method, exploring its principles, unresolved challenges, and promising research avenues.