.row.mt-4.mb-4
  h2 #[span.emoji ⌛️] Past Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 10th
    h5.month.mb-0 February
    p 17:00-18:00
  .col-md-7.col-9
    p.author #[span.me Giuseppe Bisicchia]
    h4.title.mb-1
      | Orchestrating Applications in the Cloud-Edge Continuum
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-d4cefd029a370a16113124af4899b1a3",aria-expanded="false",aria-controls="talk-d4cefd029a370a16113124af4899b1a3")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Orchestrating Applications in the Cloud-Edge Continuum.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-d4cefd029a370a16113124af4899b1a3.collapse.mt-2
        | Modern applications are developed into sets of hundreds of interacting microservices that implement one business logic. Such a result is achieved through a collaborative, incremental and iterative development process. Furthermore, the Cloud paradigm has shown some drawbacks in supporting new-generation microservice-based applications. To tame such limitations, Cloud-Edge computing paradigms emerged to bring computation closer to end-users, by exploiting computing, storage, and networking resources along a multi-layered continuum from the Cloud, through Edge, to IoT nodes. In this context, microservices are to be orchestrated over large-scale, pervasive, heterogeneous Cloud-Edge resources to meet application requirements continuously. The constant infrastructural changes and the iterative development process require scalable and continuous orchestration capabilities to manage application deployments and guarantee all requirements by promptly reacting to infrastructure or application changes at runtime. Thus in this talk, we analyse and discuss the key factors and problems arising in the orchestration of multiservice applications in Cloud-Edge infrastructures.
.row.project
  .col-md-2.col-3
    h3.mb-0 17th
    h5.month.mb-0 February
    p 17:00-18:00
  .col-md-7.col-9
    p.author #[span.me Gabriele Tedeschi]
    h4.title.mb-1
      | The arms race between Quantum Supremacy and Classical Simulation
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-f38993488eab5a03ec57887be8b95bd4",aria-expanded="false",aria-controls="talk-f38993488eab5a03ec57887be8b95bd4")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/The arms race between Quantum Supremacy and Classical Simulation.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-f38993488eab5a03ec57887be8b95bd4.collapse.mt-2
        | Quantum computing is a promising emerging technology, that exploits non-classical phenomena described by quantum mechanics, such as entanglement and superposition. Quantum algorithms are predicted to have a exponential speedup with respect to their classical counterparts. Due to technological limitations, however, we still have not reached “Quantum Supremacy”, the point where a quantum computer is undeniably faster than classical ones. Larger and more powerful quantum computer are being built each year, but at the same time faster and smarter algorithm to simulate them are being developed. It is still an open question when (or even if) quantum computers will provide a computational speedup, and which are the real world problems they will benefit the most.
.row.project
  .col-md-2.col-3
    h3.mb-0 24th
    h5.month.mb-0 February
    p 17:00-18:00
  .col-md-7.col-9
    p.author #[span.me Bruno Agostinho]
    h4.title.mb-1
      | The Economy of Things: An overview and challenges to achieve
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-b5a589a93913ad337940e6b23dec0c3c",aria-expanded="false",aria-controls="talk-b5a589a93913ad337940e6b23dec0c3c")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/The Economy of Things_ An overview and challenges to achieve.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-b5a589a93913ad337940e6b23dec0c3c.collapse.mt-2
        | The Internet of Things (IoT) has been revolutionizing the way we live and act in recent years. The way these devices can act in different environments, gathering data, providing services, allowing interactions, has brought several possibilities in the field of research. Not so long ago, it was unimaginable how popular these devices would become, in the most varied forms, from smart bands and smartwatches that monitor sleep or our daily physical activities to controllers for smart homes or industry 4.0. The extensive use of IoT demands light and scalable solutions, with guarantees of security and privacy. The concept of blockchain, has great potential for integration due to its distributed, secure, and private nature. We can say that blockchain has opened the door to the development of an open, scalable digital economy and without the need for third-party supervision to make transactions. Other cryptocurrencies with similar technology have emerged since the first system using blockchain was released, with the Bitcoin cryptocurrency. Within the context presented so far, the Economy of Things (EoT) paradigm emerged. We can define EoT as the monetization of things, or the possibility to exchange digital assets. The integration between blockchains and IoT can bring many advantages to this scenario. 
.row.project
  .col-md-2.col-3
    h3.mb-0 3rd
    h5.month.mb-0 March
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Marco De Vincenzi]
    h4.title.mb-1
      | Internet of Vehicles: current and future security challenges
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-69e16be4ced595783b8be2757a714651",aria-expanded="false",aria-controls="talk-69e16be4ced595783b8be2757a714651")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Internet of Vehicles_ current and future security challenges.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-69e16be4ced595783b8be2757a714651.collapse.mt-2
        | The Internet of Vehicles (IoV) is an emerging concept that refers to the integration of vehicles with the internet, road units, and other vehicles. The IoV promises to revolutionize the automotive industry by enhancing the efficiency and safety of vehicles. However, with the increasing connectivity of vehicles, the threat of cyber-attacks on the IoV has become a significant concern. Cybersecurity is a critical issue in the IoV as any potential breach can have severe consequences for the safety of drivers and passengers. Cyber threats to the IoV can include hacking, data theft, and denial of service attacks. In this talk, we describe the IoV and its main features with a focus on in-vehicle networks. Then, we discuss vehicle security with examples of some attacks that a car can suffer. In particular, we would like to find some possible ideas and solutions to increase the security and privacy of IoV.
.row.project
  .col-md-2.col-3
    h3.mb-0 10th
    h5.month.mb-0 March
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Sara Joubbi]
    h4.title.mb-1
      | Protein-protein interactions using Deep Learning: application in antibody design
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-e0e564c614d0d4b95869d2d2eb2ec2f8",aria-expanded="false",aria-controls="talk-e0e564c614d0d4b95869d2d2eb2ec2f8")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Protein-protein interactions using Deep Learning_ application in antibody design.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-e0e564c614d0d4b95869d2d2eb2ec2f8.collapse.mt-2
        | Protein-protein interactions (PPIs) describe the physical contacts between two or more proteins and are crucial for a wide range of biological processes, including cell signaling and metabolic and developmental control. The study of PPIs is of pivotal importance for understanding molecular mechanisms, drug design, and the study of mutations. In recent years, many computational PPI prediction techniques have been developed to compensate for the excessive costs and technical limitations of wet-lab experiments (e.g., Deep Learning (DL)). Using DL for PPIs can help design new molecules (e.g., antibodies) with specific structural and functional requirements. This seminar will highlight the main issues in antibody-antigen interaction prediction and de-novo antibody design.