.row.mt-4.mb-4
  h2 #[span.emoji ⌛️] Past Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 10th
    h5.month.mb-0 February
    p 17:00-18:00
  .col-md-7.col-9
    p.author #[span.me Giuseppe Bisicchia]
    h4.title.mb-1
      | Orchestrating Applications in the Cloud-Edge Continuum
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-d4cefd029a370a16113124af4899b1a3",aria-expanded="false",aria-controls="talk-d4cefd029a370a16113124af4899b1a3")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Orchestrating Applications in the Cloud-Edge Continuum.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-d4cefd029a370a16113124af4899b1a3.collapse.mt-2
        | Modern applications are developed into sets of hundreds of interacting microservices that implement one business logic. Such a result is achieved through a collaborative, incremental and iterative development process. Furthermore, the Cloud paradigm has shown some drawbacks in supporting new-generation microservice-based applications. To tame such limitations, Cloud-Edge computing paradigms emerged to bring computation closer to end-users, by exploiting computing, storage, and networking resources along a multi-layered continuum from the Cloud, through Edge, to IoT nodes. In this context, microservices are to be orchestrated over large-scale, pervasive, heterogeneous Cloud-Edge resources to meet application requirements continuously. The constant infrastructural changes and the iterative development process require scalable and continuous orchestration capabilities to manage application deployments and guarantee all requirements by promptly reacting to infrastructure or application changes at runtime. Thus in this talk, we analyse and discuss the key factors and problems arising in the orchestration of multiservice applications in Cloud-Edge infrastructures.
.row.project
  .col-md-2.col-3
    h3.mb-0 17th
    h5.month.mb-0 February
    p 17:00-18:00
  .col-md-7.col-9
    p.author #[span.me Gabriele Tedeschi]
    h4.title.mb-1
      | The arms race between Quantum Supremacy and classical simulation
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-f38993488eab5a03ec57887be8b95bd4",aria-expanded="false",aria-controls="talk-f38993488eab5a03ec57887be8b95bd4")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-f38993488eab5a03ec57887be8b95bd4.collapse.mt-2
        | Quantum computing is a promising emerging technology, that exploits non-classical phenomena described by quantum mechanics, such as entanglement and superposition. Quantum algorithms are predicted to have a exponential speedup with respect to their classical counterparts. Due to technological limitations, however, we still have not reached “Quantum Supremacy”, the point where a quantum computer is undeniably faster than classical ones. Larger and more powerful quantum computer are being built each year, but at the same time faster and smarter algorithm to simulate them are being developed. It is still an open question when (or even if) quantum computers will provide a computational speedup, and which are the real world problems they will benefit the most.