.row.mt-4.mb-4
  h2 #[span.emoji ⌛️] Past Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 24th
    h5.month.mb-0 January
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Calogero Turco]
    h4.title.mb-1
      | Trust Approaches in Self-Sovereign Identity
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-10c6ca75931c1a4dd426a2e4f9ed6c86",aria-expanded="false",aria-controls="talk-10c6ca75931c1a4dd426a2e4f9ed6c86")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Trust Approaches in Self-Sovereign Identity.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-10c6ca75931c1a4dd426a2e4f9ed6c86.collapse.mt-2
        | Digital Identity today is mainly centralized, with platforms like Google and Facebook controlling user's data. This lack of control has led to significant privacy concerns, such as the Cambridge Analytica scandal. Self-Sovereign Identity (SSI) is a paradigm shift that decentralizes Digital Identity by giving control back to the individuals it refers to. In SSI, individuals are called Holders and can decide what parts of their identity to expose. Each Holder has Verifiable Credentials (e.g., degree) in their digital wallet, issued by entities called Issuers (e.g., University). Holders present those Verifiable Credentials to any subject interested in information about them and who can act as a Verifier (e.g., recruiter). Unfortunately, no consolidated solutions exist to certify the Issuer's trustworthiness in issuing a specific credential or that the Holder can trust the Verifier in managing their sensitive data. How do we ensure that Issuers are trustworthy and Verifiers are competent to handle sensitive data responsibly? We will see some proposed methods for this and evaluate their suitability for different scenarios. Resolving these issues is essential to fully realizing the potential of SSI and creating a more secure, user-centric Digital Identity ecosystem.
.row.project
  .col-md-2.col-3
    h3.mb-0 7th
    h5.month.mb-0 February
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Michele Papucci]
    h4.title.mb-1
      | Toronto is the capital of Canada: Detecting and Preventing LLMs from Hallucinating
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-784e3135a60c0db7e4803f0b0d532757",aria-expanded="false",aria-controls="talk-784e3135a60c0db7e4803f0b0d532757")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Toronto is the capital of Canada_ Detecting and Preventing LLMs from Hallucinating.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-784e3135a60c0db7e4803f0b0d532757.collapse.mt-2
        | Large Language Models (LLMs) have revolutionized Natural Language Processing (NLP) applications, reaching new state-of-the-art performances in all kinds of tasks and domains, especially in content generation scenarios. However, these models are prone to generating Hallucinations, which are factually incorrect, misleading, and non-sensical outputs that are presented in a convincingly accurate manner. This phenomenon poses significant risks, particularly in fields such as healthcare, legal services, etc. This seminar will briefly present the nature of hallucinations in LLMs, their underlying causes, and the challenges in detecting them. By understanding and preventing hallucination, LLM reliability can be improved, ensuring safer and more trustworthy AI applications.