.row.mt-4.mb-4
  h2 #[span.emoji ⌛️] Past Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 19th
    h5.month.mb-0 January
    p 14:00-16:00
  .col-md-7.col-9
    p.author #[span.me Mariagiovanna Rotundo & Mattia Odorisio]
    h4.title.mb-1
      | Indexing string dictionaries
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-084535d99e457897a38a6220ed8fec3d",aria-expanded="false",aria-controls="talk-084535d99e457897a38a6220ed8fec3d")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Indexing string dictionaries.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-084535d99e457897a38a6220ed8fec3d.collapse.mt-2
        | In this seminar, we will discuss how to index sorted string dictionaries. We will present the state-of-the-art support data structures based on different kinds of tries, describing also the current open problem related to dynamic string dictionaries. In the second part, we will discuss how to augment indexing data structures with machine learning. While the literature provides learned indexes for numerical values that are more effective w.r.t. the classical counterpart, the problem is still open for strings.