.row.mt-4.mb-4
  h2 #[span.emoji ⌛️] Past Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 13th
    h5.month.mb-0 February
    p 16:00-17:00
  .col-md-7.col-9
    p.author #[span.me Matteo Della Bartola]
    h4.title.mb-1
      | Bridging the Gap: The Convergence of Cloud-Native Serverless and HPC Workloads
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-2bd7cab57caefe3d9fa925b17f13d0ab",aria-expanded="false",aria-controls="talk-2bd7cab57caefe3d9fa925b17f13d0ab")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
      a(href="slides/Bridging the Gap_ The Convergence of Cloud-Native Serverless and HPC Workloads.pdf",target="_blank").btn.btn-primary
        | #[i.bi.bi-easel3-fill] Slides
  .col-md-7
    p.abstract#talk-2bd7cab57caefe3d9fa925b17f13d0ab.collapse.mt-2
        | This presentation provides a comprehensive overview of the current state of Serverless for HPC, based on a Systematic Literature Review (SLR) of 122 primary studies published between 2017 and early 2025. We examine the convergence of HPC and Cloud-Native paradigms, identifying key use cases dominated by generic framework development (55.7%) and Machine Learning inference (19.7%). Finally, we analyze the critical barriers hindering widespread adoption—including cold start latency, data communication bottlenecks, and state management inefficiencies—and outline the necessary research directions to enable next-generation, high-performance serverless platforms.