.row.mt-4.mb-4
  h2 #[span.emoji ⌛️] Past Talks

.row.project
  .col-md-2.col-3
    h3.mb-0 21st
    h5.month.mb-0 January
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Rudy Semola]
    h4.title.mb-1
      | CL-as-a-Service: a novel tool to Continual and Real-time machine learning
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MWk1ZmVuYmtwanN2dHRvczdiOHNoMmZjdWggY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-d7b91dcd3ee32d8e379a00c7ab7e4721",aria-expanded="false",aria-controls="talk-d7b91dcd3ee32d8e379a00c7ab7e4721")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-d7b91dcd3ee32d8e379a00c7ab7e4721.collapse.mt-2
        | Currently, for companies in different industries, it is difficult to move their ML pipelines and systems towards real-time prediction and automated, stateful training. On the other hand, some research trends that seem to overcome these limitations are Auto-ML, Continual learning, Online prediction and ML system. Recent open-source tools such as Avalanche can be exploited to build novel systems that help the companies to reduce the cost and at the same time level up their competitive technological advantage. This presentation analyzes the current European and National company industry state with step-by-step use cases, considerations, and technologies required. It is also presented the concept of Continual Learning as a Service (CLaaS) system as a general computing platform mainly based on continual learning approaches and Avalanche tool. It is shown as CLaaS is a novel computing Toolkit option for companies to support the development and deployment of machine learning models in an efficient and stateful fashion. To show the idea we have developed a lightweight CLaaS DEMO backend for researchers and engineers to exploit CL services, as well as a Rest API interface. At the end, we will discuss possible future works and research direction.
.row.project
  .col-md-2.col-3
    h3.mb-0 28th
    h5.month.mb-0 January
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Tarlis Portela]
    h4.title.mb-1
      | Movelet-based Classification of Multiple Aspect Trajectories
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NWFnZzA3bnE4bGIzNXVjMG41aWNlYms2MmcgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-a360e3e77b94b30927b97f84b5c16b92",aria-expanded="false",aria-controls="talk-a360e3e77b94b30927b97f84b5c16b92")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-a360e3e77b94b30927b97f84b5c16b92.collapse.mt-2
        | Mobility data, usually called moving object trajectories, represent the movement of objects like people, vehicles, ships. In the last decade, trajectory analysis has received significant attention. Existing trajectory classification methods have mainly considered space, time, and numerical data, ignoring the semantic dimensions. A recent line of approaches is called Movelet-based methods and it has been shown that they outperform the state-of-the-art in terms of classification accuracy. However, it is computationally unfeasible for most real trajectory datasets that contain big volumes of high dimensional data. We will show some methods called MASTERMovlelets, SUPERMovelets, and HiPerMovelets that provide a good trade off between classification accuracy and running time and we will discuss possible future works.
.row.project
  .col-md-2.col-3
    h3.mb-0 4th
    h5.month.mb-0 February
    p 15:00-16:00
  .col-md-7.col-9
    p.author #[span.me Riccardo Massidda]
    h4.title.mb-1
      | Concept-Based Methods for Neural Network Interpretation
    .btn-group.btn-group-sm(role="group",aria-label="Commands").mt-1
      a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NzEwcWF2NmRlZm8yMGwxN2l2cXA3Y3Q4M2ogY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary
        | #[i.bi.bi-calendar-event-fill] Add to Calendar
      button.btn.btn-primary(type="button",data-bs-toggle="collapse",data-bs-target="#talk-89ee1ad65c602ab48f5110f2fe9e267e",aria-expanded="false",aria-controls="talk-89ee1ad65c602ab48f5110f2fe9e267e")
        | #[i.bi.bi-file-earmark-text-fill] Abstract
  .col-md-7
    p.abstract#talk-89ee1ad65c602ab48f5110f2fe9e267e.collapse.mt-2
        | Concept-based methods attempt to interpret existing neural networks or to design inherently interpretable models by exploiting human-comprehensible concepts. In the current talk, I will present few significant examples of such methods, discussing their commonalities, their underlying assumptions, and their applications. More in detail, I will focus on the semantic alignment of neural directions and visual concepts in CNNs for computer vision. In this context, different existing approaches might be understood in terms of a unified general framework. Furthermore, I will show the impact of acknowledging semantic relations on such framework. Finally, the talk discusses the main issues affecting concept-based methods and hints to possible research strategies to tackle them.