.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Valerio Besozzi and Lianpei Li]
    h2.title.mb-0.mt-1
      | Beyond the Cloud. Exploring Serverless Computing and Cloud Continuum
  .col-md-2.col-4
    h1.day 29th
    h4.month.mb-0 February
    p 14:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Distributed computing has a long history, starting from the introduction of time-sharing techniques in the 1960s to the rise of cloud computing in the last two decades. However, the recent introduction of advanced technologies in areas such as IoT, autonomous vehicles, and Industry 4.0, demands a rethinking of cloud paradigms. In this seminar, we introduce two cutting-edge technologies in Cloud Computing: Serverless Computing and Cloud Continuum. Serverless Computing allows developers to write and deploy code without managing the underlying infrastructure, enhancing flexibility and scalability. Cloud Continuum extends cloud computing beyond traditional data centers, integrating computational resources distributed across the network including cloud, fog, edge and IoT. The main goal of this seminar is to provide insights into the potential implications and limitations of these two technologies in real-world scenarios. Furthermore, we explore key research directions and present current open challenges.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://teams.microsoft.com/l/meetup-join/19%3a1gl9chQwHEdboYgOjxeM4DRt1WG8s8OjsSeIlD5NV9I1%40thread.tacv2/1709054885024?context=%7b%22Tid%22%3a%22c7456b31-a220-47f5-be52-473828670aa1%22%2c%22Oid%22%3a%221e937ce0-cbfb-49b2-adf8-0cadc07bd2ef%22%7d").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Polifunzionale
      