.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Rudy Semola]
    h2.title.mb-0.mt-1
      | CLaaS: a novel tool to MLOps
  .col-md-2.col-4
    h1.day 21st
    h4.month.mb-0 January
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | No abstract available
  .col-md-4.d-grid.gap-2.d-md-block
    a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MWk1ZmVuYmtwanN2dHRvczdiOHNoMmZjdWggY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/tbx-apai-yxd").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
      