.row.next
  .col-md-7.col-8
    p.author #[span.me Giulia Palma]
    h4.title.mb-0.mt-1
      | Combinatorial properties of degree sequences of 3-uniform hypergraphs arising from saind arrays 
  .col-md-2.col-4
    h1.day 15th
    h4.month.mb-0 January
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | The characterization of k-uniform hypergraphs by their degree sequences, say k-sequences, has been a longstanding open problem for k>2. Very recently its decision version was proved to be NP-complete by Deza et al. Formally, the decision version of the problem is: Given π=(d1,d2,…,dn) a non increasing sequence of positive integers, is π the degree sequence of a k-uniform simple hypergraph? The NP-completeness reduction uses, in an intermediate step, a subclass of 3-uniform hypergraphs whose incidence matrices are computed starting from a sequence of integer numbers. In general, the complexity of the reconstruction of the elements of such a subclass is unknown.
  .col-md-4.d-grid.gap-2.d-md-block
    a(href="").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Seminari Est
