.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Mariagiovanna Rotundo & Mattia Odorisio]
    h2.title.mb-0.mt-1
      | Indexing string dictionaries
  .col-md-2.col-4
    h1.day 19th
    h4.month.mb-0 January
    p 14:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | In this seminar, we will discuss how to index sorted string dictionaries. We will present the state-of-the-art support data structures based on different kinds of tries, describing also the current open problem related to dynamic string dictionaries. In the second part, we will discuss how to augment indexing data structures with machine learning. While the literature provides learned indexes for numerical values that are more effective w.r.t. the classical counterpart, the problem is still open for strings.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://teams.microsoft.com/l/meetup-join/19%3a1gl9chQwHEdboYgOjxeM4DRt1WG8s8OjsSeIlD5NV9I1%40thread.tacv2/1705311988057?context=%7b%22Tid%22%3a%22c7456b31-a220-47f5-be52-473828670aa1%22%2c%22Oid%22%3a%221e937ce0-cbfb-49b2-adf8-0cadc07bd2ef%22%7d").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="slides/Indexing string dictionaries.pdf",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-easel3-fill] Slides
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Polifunzionale
      