.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Jacopo Massa]
    h2.title.mb-0.mt-1
      | Data-aware application placement and routing in the Cloud-IoT continuum
  .col-md-2.col-4
    h1.day 25th
    h4.month.mb-0 February
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | With the widespread adoption of the Internet Of Things (IoT), billions of devices are now connected to the Internet and can reach computing facilities along the Cloud-IoT continuum to process the data they produce. This led to a dramatic increase in the deployed IoT-based applications as well as in the data they need to crunch. Those applications oftentimes have Quality of Service (QoS) requirements to be met by determining suitable placements for all processing and data services they are made of, and software-defined routings across the IoT and all different application components. Following a continuous reasoning approach, I will show you a modelling of Cloud-IoT infrastructures and multi-service applications, a methodology that permits determining eligible service placements and data traffic routings over Cloud-IoT resources, along with a Prolog prototype which implements both the presented model and methodology.
  .col-md-4.d-grid.gap-2.d-md-block
    a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MHJ0bDc5aDQzZjZ0ODRjbjFzbDRwbHJuYXUgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/egw-bjya-aur").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Seminari Est
      