.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Marco Gaglianese]
    h2.title.mb-0.mt-1
      | Monitoring the Cloud-IoT continuum for latency-Aware applications placement
  .col-md-2.col-4
    h1.day 20th
    h4.month.mb-0 May
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Monitoring will play an enabling role in the orchestration of next-gen Fog applications. Particularly, monitoring of Fog computing infrastructures should deal with platform heterogeneity, scarce resource availability at the edge, and high dynamicity all along the Cloud-IoT continuum. In this presentation, we describe FogMon, a C++ distributed monitoring prototype targeting Fog computing infrastructures. FogMon monitors hardware resources at different Fog nodes, end-to-end network QoS between such nodes, and connected IoT devices. Besides, it features a self-organising peer-to-peer topology with selfrestructuring mechanisms, and differential monitoring updates, which ensure scalability, fault-tolerance and low communication overhead. Experiments on a real testbed show how the footprint of FogMon is limited and how its self-restructuring topology makes it resilient to infrastructure dynamicity.
  .col-md-4.d-grid.gap-2.d-md-block
    a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MHI0bTk2OHZicjQyNmkycHZxZmc3cGg2YWIgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/egw-bjya-aur").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Seminari Est
      