.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Leena Aizdi]
    h2.title.mb-0.mt-1
      | From Slow to Scalable: Strategies for Large-scale Mixed Integer Linear Programming Optimisation
  .col-md-2.col-4
    h1.day 28th
    h4.month.mb-0 March
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Mixed Integer Linear Programming (MILP) has been widely used as a decision support tool in many applications such as transportation, logistics, healthcare, and telecommunications. However, with the increasing complexity of the problem application, solving large-scale MILP models to obtain optimal or near-optimal solutions becomes very challenging, thus remaining an active field of research. This seminar further explores this issue and highlights some strategies used in current research to tackle this problem including the exploitation of exact decomposition and heuristic approaches. Additionally, we look over the emerging role of Artificial Intelligence (AI) and Machine Learning (ML) in the field of combinatorial optimisation, in particular how AI/ML integrated optimisation is being used to improve the efficiency of solving MILP models. Finally, we briefly mention the possible future research directions, with an open-ended discussion with participants at the end.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://teams.microsoft.com/l/message/19:DkLh2QJfJIzQp_SpEuyUvxNI3ktQUEzrE2Aob9rjKVE1@thread.tacv2/1742984821220?tenantId=c7456b31-a220-47f5-be52-473828670aa1&groupId=e1ec02a8-5e74-4f1f-a340-920ec77b16bf&parentMessageId=1742984821220&teamName=Pesaresi%20Seminar%20Series%202025&channelName=General&createdTime=1742984821220").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Riunioni Est
      