.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Hamid Gharb]
    h2.title.mb-0.mt-1
      | Empowering smart and dynamic workflows for convergence of HPC, AI, and data analytics: challenges and possible solutions
  .col-md-2.col-4
    h1.day 19th
    h4.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | It is an obvious fact that every evolution in HPC systems, will bring new complexities in applications workloads, due to increment in number of elements that compose the workflows, and also the type of computations they perform. While simulations and modelling of physical phenomena are targeted in traditional HPC workflows, there are some problems that require extra task computation in artificial intelligence (AI) and data analytics (DA). However, development of these workflows is prevented, mainly because of absence of appropriate programming model and environment that assist integration of HPC, AI, and DA, plus lack of tools to smoothly deploy and execute workloads in HPC platforms. To proceed in this way, use cases are presented where complex workloads are required and main issues that need to be addressed in HPC/DA/IA convergence is investigated. For doing so, first a software stack that provides the functionalities to manage these complex workflows is defined, and second, HPC workflows as a Service (HPCWaas) paradigm is proposed, which leverages the software stack to facilitate the reusability of complex workflows in federated HPC infrastructures
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NDZhczhrMHN2cHRlMjdwdGtlNG45cWtmNGkgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/xgq-arig-zzs").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Riunioni Ovest
      