.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Jeconia Kapitako]
    h2.title.mb-0.mt-1
      | The cost of Range Anxiety
  .col-md-2.col-4
    h1.day 14th
    h4.month.mb-0 April
    p 16:00-17:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Countries around the globe are working towards reducing their carbon emissions and moving towards clean energy. This is particularly visible in the surge of e-mobility over the past few years. A driver's decision to purchase an electric vehicle is influenced by factors such as the desire to phase out vehicles that make use of fossil fuels due to climate change coupled with the increasing fuel and gas prices, the availability of sufficient charging infrastructure, and the charging speed. The insufficient availability of charging infrastructure and long charging times may lead to range anxiety and discourage drivers from switching to electric vehicles.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=N2R2djg5ZGFkbDZ2aGlrdmVhaGF2cHM4dXQgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/xgq-arig-zzs").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Riunioni Ovest
      