.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Gabriel Alfredo Carmona Tabja]
    h2.title.mb-0.mt-1
      | Lossy and lossless compression for matrices presented at Neural Networks
  .col-md-2.col-4
    h1.day 16th
    h4.month.mb-0 February
    p 14:00-15:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | The Neural Networks (NN) field is rapidly advancing, achieving significant milestones annually. However, NN models are often overparameterized, with billions of parameters, requiring substantial memory and computational resources. These models consist of layers such as fully connected or convolutional layers, containing large matrices due to overparameterization. Predictions involve intensive matrix operations, adding to the computational load. In this seminar, we will present the techniques that are present today in the state of art, these techniques can be divided into two: lossy and lossless, this means that you can compress matrices loosing information or not loosing information. Then, we will discuss the problems of this topic and possible research studies that can be made.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://teams.microsoft.com/l/message/19:1gl9chQwHEdboYgOjxeM4DRt1WG8s8OjsSeIlD5NV9I1@thread.tacv2/1707472358478?tenantId=c7456b31-a220-47f5-be52-473828670aa1&groupId=795c7f19-917e-4627-9a09-f220976eef84&parentMessageId=1707472358478&teamName=Pesaresi%20Seminars&channelName=&createdTime=1707472358478").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="slides/Lossy and lossless compression for matrices presented at Neural Networks.pdf",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-easel3-fill] Slides
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Polifunzionale
      