.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Filippo Magi]
    h2.title.mb-0.mt-1
      | MILP: How to solve your (optimization) problems
  .col-md-2.col-4
    h1.day 20th
    h4.month.mb-0 February
    p 16:00-17:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | In this talk we focus on discrete linear optimization. Starting from a mathematical formulation, we discuss the computational complexity of these problems, highlighting both tractable cases and sources of hardness. We then present two main solution paradigms for discrete optimization problems: dynamic programming and branch-and-bound methods. For dynamic programming, we provide a formal mathematical framework and explain its underlying principles. For branch and bound, we introduce linear relaxations, cutting-plane ideas, and Lagrangian relaxation, discussing their role in improving bounds and algorithmic performance.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_ODFkN2ZmOGUtY2VkMy00MTY5LTg5OTItNjkyNDk4MTJkNGE0%40thread.v2/0?context=%7b%22Tid%22%3a%22c7456b31-a220-47f5-be52-473828670aa1%22%2c%22Oid%22%3a%220688d51d-2df7-4498-9b64-17bc4afd1b01%22%7d").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="slides/MILP_ How to solve your (optimization) problems.pdf",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-easel3-fill] Slides
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Seminari Ovest
      