.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Tarlis Portela]
    h2.title.mb-0.mt-1
      | Movelet-based Classification of Multiple Aspect Trajectories
  .col-md-2.col-4
    h1.day 28th
    h4.month.mb-0 January
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Mobility data, usually called moving object trajectories, represent the movement of objects like people, vehicles, ships. In the last decade, trajectory analysis has received significant attention. Existing trajectory classification methods have mainly considered space, time, and numerical data, ignoring the semantic dimensions. A recent line of approaches is called Movelet-based methods and it has been shown that they outperform the state-of-the-art in terms of classification accuracy. However, it is computationally unfeasible for most real trajectory datasets that contain big volumes of high dimensional data. We will show some methods called MASTERMovlelets, SUPERMovelets, and HiPerMovelets that provide a good trade off between classification accuracy and running time and we will discuss possible future works.
  .col-md-4.d-grid.gap-2.d-md-block
    a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NWFnZzA3bnE4bGIzNXVjMG41aWNlYms2MmcgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/egw-bjya-aur").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
      