.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Bruno Agostinho]
    h2.title.mb-0.mt-1
      | The Economy of Things: An overview and challenges to achieve
  .col-md-2.col-4
    h1.day 24th
    h4.month.mb-0 February
    p 17:00-18:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | The Internet of Things (IoT) has been revolutionizing the way we live and act in recent years. The way these devices can act in different environments, gathering data, providing services, allowing interactions, has brought several possibilities in the field of research. Not so long ago, it was unimaginable how popular these devices would become, in the most varied forms, from smart bands and smartwatches that monitor sleep or our daily physical activities to controllers for smart homes or industry 4.0. The extensive use of IoT demands light and scalable solutions, with guarantees of security and privacy. The concept of blockchain, has great potential for integration due to its distributed, secure, and private nature. We can say that blockchain has opened the door to the development of an open, scalable digital economy and without the need for third-party supervision to make transactions. Other cryptocurrencies with similar technology have emerged since the first system using blockchain was released, with the Bitcoin cryptocurrency. Within the context presented so far, the Economy of Things (EoT) paradigm emerged. We can define EoT as the monetization of things, or the possibility to exchange digital assets. The integration between blockchains and IoT can bring many advantages to this scenario. 
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NG1yYWZsaG92bGZxY2hybnVoY3RjZ2g0MjEgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/xgq-arig-zzs").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Riunioni Ovest
      