.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Francesc Gargiulo]
    h2.title.mb-0.mt-1
      | Shrink Files, Win Cash: The Hutter Prize Explained
  .col-md-2.col-4
    h1.day 11th
    h4.month.mb-0 April
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | This presentation introduces the Hutter Prize, a unique competition launched in 2006 by Marcus Hutter that challenges participants to compress a 1GB Wikipedia corpus better than previous attempts. Rather than simply being a technical exercise in file size reduction, the prize examines Hutter's theory that the ability to compress data effectively is closely linked to acting intelligently. We explore the competition's criteria and significance as a benchmark at the intersection of information theory and artificial intelligence. As Hutter himself suggests, compression can serve as a meaningful metric for evaluating understanding, since effective compression requires identifying patterns and making accurate predictions. By reviewing the competition's history and the evolution of compression techniques, we will highlight how the Hutter Prize provides valuable insights into the connection between data compression and artificial intelligence.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://teams.microsoft.com/l/message/19:DkLh2QJfJIzQp_SpEuyUvxNI3ktQUEzrE2Aob9rjKVE1@thread.tacv2/1744021490893?tenantId=c7456b31-a220-47f5-be52-473828670aa1&groupId=e1ec02a8-5e74-4f1f-a340-920ec77b16bf&parentMessageId=1744021490893&teamName=Pesaresi%20Seminar%20Series%202025&channelName=General&createdTime=1744021490893").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Demo
      