.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Luca Miglior]
    h2.title.mb-0.mt-1
      | Find your inner peace, minimize your Energy
  .col-md-2.col-4
    h1.day 21st
    h4.month.mb-0 March
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Energy-Based Models (EBMs) provide a powerful and elegant framework for generative learning by modeling the compatibility between inputs and outputs through an energy function. Rather than explicitly modeling probability distributions, EBMs define a scalar energy for each possible configuration of variables, with learning aimed at assigning low energy to desirable outcomes. This approach enables flexible, expressive generative modeling, especially in high-dimensional or continuous domains. In this seminar, we introduce the principles of generative learning through energy functions, formalize the EBM framework, and explore how EBMs can be trained to model complex data distributions. We’ll discuss sampling techniques, training objectives, and practical examples that highlight the strengths of EBMs in generative tasks such as image synthesis and structured prediction. By the end, you'll gain a fresh perspective on generative modeling and a solid foundation for applying EBMs in your own work.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://teams.microsoft.com/l/message/19:DkLh2QJfJIzQp_SpEuyUvxNI3ktQUEzrE2Aob9rjKVE1@thread.tacv2/1742407701838?tenantId=c7456b31-a220-47f5-be52-473828670aa1&groupId=e1ec02a8-5e74-4f1f-a340-920ec77b16bf&parentMessageId=1742407701838&teamName=Pesaresi%20Seminar%20Series%202025&channelName=General&createdTime=1742407701838").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Demo
      