.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Niko Dalla Noce]
    h2.title.mb-0.mt-1
      | Generating answers from semantically structured documents
  .col-md-2.col-4
    h1.day 9th
    h4.month.mb-0 February
    p 14:00-15:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | The use of large language models (LLMs) for question answering has grown considerably in recent years, especially since the introduction of ChatGPT. Although these are trained on datasets spanning large domains, not all topics can be covered. In some specific cases, we may want a model to be able to answer questions that refer to private documents, and therefore are not included in the datasets on which a model may have been trained, and to do so in a reliable and content-controlled way. Private texts can be semantically structured in databases or knowledge graphs. Fine-tuning a model would require the creation of ad hoc annotated datasets for these documents, which would be time consuming and resource intensive. On the other hand, direct prompting to LLMs without any tuning can lead to incorrect or inaccurate answers and thus hallucinations. We therefore want an LLM to be able to answer questions and then generate text from the documents stored in a structured way. The aim is to extend current work focused on text generation, which currently only takes simple knowledge graphs into account.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://teams.microsoft.com/l/message/19:1gl9chQwHEdboYgOjxeM4DRt1WG8s8OjsSeIlD5NV9I1@thread.tacv2/1706888514549?tenantId=c7456b31-a220-47f5-be52-473828670aa1&groupId=795c7f19-917e-4627-9a09-f220976eef84&parentMessageId=1706888514549&teamName=Pesaresi%20Seminars&channelName=&createdTime=1706888514549").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="slides/Generating answers from semantically structured documents.pdf",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-easel3-fill] Slides
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Polifunzionale
      