.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Elena Scandurra]
    h2.title.mb-0.mt-1
      | Computational Fabrication of Architectural Structures using Mechanical Metamaterials
  .col-md-2.col-4
    h1.day 12th
    h4.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Mechanical metamaterials are a category of human-made objects engineered to exhibit specific responses when subjected to mechanical forces. Their behavior is determined by the arrangement of internal components, primarily based on their geometry. These materials serve as fundamental units that can be combined to construct larger mechanical structures, resulting in entities that possess both macroscopic (overall shape) and mesoscopic (internal structure) geometries. By leveraging mechanical metamaterials, designers can explore novel design possibilities beyond what traditional techniques offer. However, this shift also necessitates the development of new computational tools tailored to address the design challenges at the mesoscale.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://meet.google.com/xgq-arig-zzs").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Riunioni Ovest
      