.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Marco De Vincenzi]
    h2.title.mb-0.mt-1
      | Internet of Vehicles: current and future security challenges
  .col-md-2.col-4
    h1.day 3rd
    h4.month.mb-0 March
    p 16:00-17:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | The Internet of Vehicles (IoV) is an emerging concept that refers to the integration of vehicles with the internet, road units, and other vehicles. The IoV promises to revolutionize the automotive industry by enhancing the efficiency and safety of vehicles. However, with the increasing connectivity of vehicles, the threat of cyber-attacks on the IoV has become a significant concern. Cybersecurity is a critical issue in the IoV as any potential breach can have severe consequences for the safety of drivers and passengers. Cyber threats to the IoV can include hacking, data theft, and denial of service attacks. In this talk, we describe the IoV and its main features with a focus on in-vehicle networks. Then, we discuss vehicle security with examples of some attacks that a car can suffer. In particular, we would like to find some possible ideas and solutions to increase the security and privacy of IoV.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=N2FqMnJrbjhvMTBrc2V2OGEzOWNocDk2MTggY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/xgq-arig-zzs").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Riunioni Ovest
      