.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Matteo Della Bartola]
    h2.title.mb-0.mt-1
      | Bridging the Gap: The Convergence of Cloud-Native Serverless and HPC Workloads
  .col-md-2.col-4
    h1.day 13th
    h4.month.mb-0 February
    p 16:00-17:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | This presentation provides a comprehensive overview of the current state of Serverless for HPC, based on a Systematic Literature Review (SLR) of 122 primary studies published between 2017 and early 2025. We examine the convergence of HPC and Cloud-Native paradigms, identifying key use cases dominated by generic framework development (55.7%) and Machine Learning inference (19.7%). Finally, we analyze the critical barriers hindering widespread adoption—including cold start latency, data communication bottlenecks, and state management inefficiencies—and outline the necessary research directions to enable next-generation, high-performance serverless platforms.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_ODFkN2ZmOGUtY2VkMy00MTY5LTg5OTItNjkyNDk4MTJkNGE0%40thread.v2/0?context=%7b%22Tid%22%3a%22c7456b31-a220-47f5-be52-473828670aa1%22%2c%22Oid%22%3a%220688d51d-2df7-4498-9b64-17bc4afd1b01%22%7d").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Riunioni Ovest
      