.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Reshawn Ramjattan]
    h2.title.mb-0.mt-1
      | Machine Learning for Industry 4.0
  .col-md-2.col-4
    h1.day 3rd
    h4.month.mb-0 June
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Industry 4.0, or the fourth industrial revolution, refers to the rapid changes that interconnectivity and smart automation have brought to the industrial world. The scalability and automation of Machine Learning can enable significant improvements to efficiency and productivity in several areas of Industry 4.0. Top consulting companies estimate tremendous potential value from these ML-based solutions to industrial problems, and some companies have already started finding success. In this presentation, we will introduce the intersection of ML and Industry 4.0 through a systematic review of the academic literature as well as an industry perspective. We will also discuss the potential of some advancing ML areas, such as Continual Learning, Democratized Technology and Distributed ML. 
  .col-md-4.d-grid.gap-2.d-md-block
    a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MHVnczMzMG5vMnZlNWo3NnFmanR0ZmZkMXMgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/egw-bjya-aur").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Seminari Est
      