.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Ornela Danushi]
    h2.title.mb-0.mt-1
      | On Carbon Efficient Software Systems
  .col-md-2.col-4
    h1.day 28th
    h4.month.mb-0 February
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | The ICT sector, responsible for 2% of global carbon emissions, is under scrutiny and requires methods and tools to design and develop software in an environmentally sustainable way. However, software engineering solutions for designing and developing carbon-efficient software are currently scattered in different literature, making it difficult to consult the body of knowledge on the topic. This seminar presents the results of a systematic literature review of state-of-the-art proposals for the design and development of carbon-efficient software. The analysis is based on the identification of 65 primary studies by classifying them through a taxonomy aimed at answering the 5W1H questions of carbon-efficient software design and development. Specifically, it provides a reasoned overview and discussion of the existing guidelines, reference models, measurement solutions and techniques for measuring, reducing, or minimising the carbon footprint of software. Finally, open challenges and research gaps are listed to provide insights for future work in this area.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://teams.microsoft.com/l/message/19:DkLh2QJfJIzQp_SpEuyUvxNI3ktQUEzrE2Aob9rjKVE1@thread.tacv2/1740324380208?tenantId=c7456b31-a220-47f5-be52-473828670aa1&groupId=e1ec02a8-5e74-4f1f-a340-920ec77b16bf&parentMessageId=1740324380208&teamName=Pesaresi%20Seminar%20Series%202025&channelName=General&createdTime=1740324380208").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Riunioni EST
      