.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Andrea Guerra]
    h2.title.mb-0.mt-1
      | PIR: Private Information Retrieval
  .col-md-2.col-4
    h1.day 18th
    h4.month.mb-0 February
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | How can a user retrieve an item from a server in possession of a database without revealing which item was retrieved? The Private Information Retrieval (PIR) in cryptography is a protocol used to answer this question. So, PIR allows a client to download an element (e.g., movie, friend record) from a database held by an untrusted server without revealing to the server which element was downloaded. In this talk, we will see the importance of this problem and the challenges it presents. Indeed, PIR is a key building block in many privacy-preserving systems, unfortunately, existing constructions remain very expensive. This expense is fundamental: PIR schemes force the server to operate on all elements in the database to answer a single query, furthermore, to protect the privacy of the query, PIR schemes require the user to send n ciphertexts where n is the size of the database.
  .col-md-4.d-grid.gap-2.d-md-block
    a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NGd2dnZrdjh2MTgwNzM2NnM5NTJmc3ZlMTMgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/egw-bjya-aur").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="slides/PIR: Private Information Retrieval.pdf",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-easel3-fill] Slides
      