.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Tauheed Waheed]
    h2.title.mb-0.mt-1
      | The impact of IOT cyber-security in perspective of industry 4.0
  .col-md-2.col-4
    h1.day 5th
    h4.month.mb-0 May
    p 16:00-17:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | It is evident that digitalization and automation, bought a lot of business benefits but modern industrial systems require more efficient, trusted, and secured ways of communication. The trend of developing innovative and smart architectures notably in the fields of manufacturing, logistics, healthcare, and agriculture. To build these smart systems, the utilization of more IoT devices is increasing day by day. Industry leaders want to define clear business models and processes, which are reusable reliable reproducible and can be monitored adequately. Industry 4.0 provides connectivity and interconnectivity among industrial systems which has increased the number of IoT devices with broader challenges. It is paramount to mention that IoT ecosystem is supported by cloud solutions and data analytics to extract appropriate information for making our decisions. In this type of systems cyber-security becomes vital to have secure communication. In recent time Google cloud Microsoft Azure and Amazon are the most established cloud platforms because of their easy integration with IoT. Despite being world best robust, trusted, reliable commercial solutions the number of IoT devices are increasing in their system and indirectly it's expanding the surface of cyber-security threats and attacks. However, without secure communication It becomes quite difficult to use IoT systems.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NDg4MWduamNoOHJ0ZnI1Z3Y2ZG1kZDNwbzYgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/xgq-arig-zzs").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Riunioni Ovest
      