.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Flavio Ascari]
    h2.title.mb-0.mt-1
      | Extensive, locally complete abstract interpretation
  .col-md-2.col-4
    h1.day 18th
    h4.month.mb-0 March
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Abstract interpretation is a framework to design sound static analyses which over-approximate the set of program behaviours. While this can prove correctness, it can't show incorrectness because false alarms may arise from the over-approximation. These may undermine the credibility of a static analysis tool, making it less effective in practice. For abstract interpretation, an ideal but very uncommon situation is completeness, in which the abstract interpreter doesn't introduce false alarms, hence coming out more reliable. However, to our knowledge methods to show completeness-like properties deal with intensional (ie. dependant on syntax) abstractions of a program, while completeness itself is an extensional property of the program semantics only. In the talk, we propose an extension of Local Completeness Logic, an Hoare-style logic to prove completeness of the abstraction of a program c on an input P. Our main contribution is the addition of a new rule we call (refine-ext). This rule allows to perform part of the analysis in a finer abstract domain, then to move the result to the coarser one without any precision loss. With this addition, the logic is able to prove all triples where the extensional best correct approximation of the program semantics is locally complete, thus untying the set of provable properties from the way the program is written.
  .col-md-4.d-grid.gap-2.d-md-block
    a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=M2UxN2JhYjRza2RxN2FuMzFzZjZhY3RjOTIgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/egw-bjya-aur").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Seminari Est
      