.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Eric Nuertey Coleman]
    h2.title.mb-0.mt-1
      | Continual Self Supervised Learning for Action Recognition
  .col-md-2.col-4
    h1.day 28th
    h4.month.mb-0 April
    p 16:00-17:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Continual self-supervised learning for video action recognition is an open problem that has garnered significant attention in the field of computer vision. The ability to learn from unlabeled data is of particular interest, as it has the potential to reduce the cost and effort associated with labeled data collection. However, current self-supervised learning methods for video action recognition have limitations when it comes to continual learning. Specifically, these methods are typically designed to learn from a fixed set of data, rather than adapting to new and evolving scenarios over time. To address this challenge, researchers have begun exploring novel approaches to continual self-supervised learning for video action recognition. These approaches include using meta-learning techniques to learn how to learn from new data, building models that can adapt to new and changing data distributions, and developing methods that can incorporate human feedback to improve learning over time. While these approaches show promise, there are still significant challenges to overcome in the field of continual self-supervised learning for video action recognition. One such challenge is the lack of benchmark datasets that are specifically designed for continual learning. Another challenge is the need to develop effective methods for balancing the trade-off between exploiting existing knowledge and exploring new data. Despite these challenges, continual self-supervised learning for video action recognition remains an important area of research with the potential to revolutionize the field of computer vision. By developing novel methods and approaches to this problem, researchers can unlock the power of self-supervised learning to create more efficient and effective models for video action recognition.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NGNkaDl0aWszbHBsYjI5a2FqZ2pwN3JqMzQgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/xgq-arig-zzs").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Riunioni Ovest
      