.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Gabriele Tedeschi]
    h2.title.mb-0.mt-1
      | The arms race between Quantum Supremacy and classical simulation
  .col-md-2.col-4
    h1.day 17th
    h4.month.mb-0 February
    p 17:00-18:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Quantum computing is a promising emerging technology, that exploits non-classical phenomena described by quantum mechanics, such as entanglement and superposition. Quantum algorithms are predicted to have a exponential speedup with respect to their classical counterparts. Due to technological limitations, however, we still have not reached “Quantum Supremacy”, the point where a quantum computer is undeniably faster than classical ones. Larger and more powerful quantum computer are being built each year, but at the same time faster and smarter algorithm to simulate them are being developed, and it is still not clear who will win this arm race.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NWFhMjY3ZG43ODgxaXAwOGppMWU5ZTIzOXAgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/xgq-arig-zzs").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Riunioni Ovest
      