.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Rudy Semola]
    h2.title.mb-0.mt-1
      | CL-as-a-Service: a novel tool to Continual and Real-time machine learning
  .col-md-2.col-4
    h1.day 21st
    h4.month.mb-0 January
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Currently, for companies in different industries, it is difficult to move their ML pipelines and systems towards real-time prediction and automated, stateful training. On the other hand, some research trends that seem to overcome these limitations are Auto-ML, Continual learning, Online prediction and ML system. Recent open-source tools such as Avalanche can be exploited to build novel systems that help the companies to reduce the cost and at the same time level up their competitive technological advantage. This presentation analyzes the current European and National company industry state with step-by-step use cases, considerations, and technologies required. It is also presented the concept of Continual Learning as a Service (CLaaS) system as a general computing platform mainly based on continual learning approaches and Avalanche tool. It is shown as CLaaS is a novel computing Toolkit option for companies to support the development and deployment of machine learning models in an efficient and stateful fashion. To show the idea we have developed a lightweight CLaaS DEMO backend for researchers and engineers to exploit CL services, as well as a Rest API interface. At the end, we will discuss possible future works and research direction.
  .col-md-4.d-grid.gap-2.d-md-block
    a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MWk1ZmVuYmtwanN2dHRvczdiOHNoMmZjdWggY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/tbx-apai-yxd").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
      