.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Claudia Nanula]
    h2.title.mb-0.mt-1
      | We’re Not Speaking the Same Language: Approaches and Challenges in the Personalization of LLMs
  .col-md-2.col-4
    h1.day 14th
    h4.month.mb-0 March
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Large Language Models (LLMs) have revolutionized human-computer interaction, enabling increasingly natural and adaptive conversations. However, the challenge of personalization —tailoring these models to individual users while maintaining fairness, robustness, and inclusivity — remains a critical research topic. This seminar will explore the foundations of LLM personalization, going from a formal theoretical framework and a description of current techniques to evaluation metrics and real-world applications. At the same time, we will cover key ethical concerns, such as the risk of biases and stereotypes in the personalized outputs, privacy issues, and sensitive category protection. This session will analyze technical and societal perspectives to try to foster a critical discussion on balancing personalization with responsible AI development.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://teams.microsoft.com/l/message/19:DkLh2QJfJIzQp_SpEuyUvxNI3ktQUEzrE2Aob9rjKVE1@thread.tacv2/1741609276460?tenantId=c7456b31-a220-47f5-be52-473828670aa1&groupId=e1ec02a8-5e74-4f1f-a340-920ec77b16bf&parentMessageId=1741609276460&teamName=Pesaresi%20Seminar%20Series%202025&channelName=General&createdTime=1741609276460").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Riunioni Est
      