.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Giuseppe Bisicchia]
    h2.title.mb-0.mt-1
      | Continuous Management of Multi-Service Applications over the Cloud-Edge Continuum
  .col-md-2.col-4
    h1.day 10th
    h4.month.mb-0 February
    p 17:00-18:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Nowadays, applications are designed with hundreds of interacting (micro-)services through a collaborative, iterative and incremental development process. Furthermore, the Cloud paradigm has shown several drawbacks when adopted to support the deployment of next-generation multi-service applications, due to (above all) the strict run-time constraints. To tame such limitations, various paradigms are emerging that bring computational capabilities closer to application end-users exploiting seamless computing, storage and networking resources along a continuum from the Cloud to the IoT devices. However, in such a scenario, the constant infrastructural changes, as well as the iterative development process, with new periodic releases of the code, require scalable and continuous management of the application deployment. In this talk, we will analyse and discuss the key factors and problems arising in the management of multiservice applications in Cloud-Edge infrastructures.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NmloYnI3cHA0Y2Zxc3VxaG9tY3R1aXNrYzAgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/xgq-arig-zzs").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Riunioni Ovest
      