.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Njagi Mwaniki]
    h2.title.mb-0.mt-1
      | Inferring Viral Transmission Using Closely Related Viral Genomes
  .col-md-2.col-4
    h1.day 8th
    h4.month.mb-0 April
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | The genome of each individual in a species is different from that of every other individual within the same species. Further, the genome of each species is different from every other species. Despite this, most modern tools and methods for genome analysis treat the genome of a species as if it were linear, updating at regular intervals, and homogenous between individuals. Such a genome is known as a linear reference and is prone to the reference bias problem: a tendency of the reference genome to over-report sequences present in it and under-report those that are not. Genome graphs combat this bias by representing variation as alternative nodes and edges.I demonstrate the plausibility of differentiating related consensus genomes by comparing how they compare to a genome graph, then using this comparison to construct a phylogeny and further infer transmission.
  .col-md-4.d-grid.gap-2.d-md-block
    a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NDZxbW5idTJhYnY3ZDdtMDZsbjAydDdoMGcgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/egw-bjya-aur").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Seminari Est
      