.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Elia Piccoli]
    h2.title.mb-0.mt-1
      | Continual Reinforcement Learning: towards Multi-Task and Generic Agents
  .col-md-2.col-4
    h1.day 31st
    h4.month.mb-0 March
    p 16:00-17:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | In recent years, Reinforcement Learning has reached astonishing results and advancements in various research fields and applications such as games, robotics and chemistry. However, this has come at the cost of unsustainable computational efforts given the huge and complex deep architectures. A common characteristic of all state of art approaches is that the agent learns to solve a very specific task without reusing previously learned skills or knowledge. Continual Learning, on the other hand, seeks to create models that are able to incrementally learn from a sequence of tasks, while continually acquiring, fine-tuning, and transferring knowledge and skills throughout different tasks. As each task is temporally limited and discarded, the ability to forget and maintain knowledge is a critical and fundamental aspect. Continual Reinforcement Learning aims at creating agents that learn multiple tasks in a sequential fashion, trying to extend their abilities without loss of performances in previously learnt scenarios. But at the same time, agents are able to re-use or transfer previous knowledge to ease the process of learning a new task. In this presentation, I will cover the current state-of-the-art and analyze possible ideas that may help to improve the agent's performances and capabilities.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NnUzYmFlcmxibGhnNnNsdWo1cDc5bmM3NW4gY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/xgq-arig-zzs").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Riunioni Ovest
      