.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Rudy Semola]
    h2.title.mb-0.mt-1
      | CLaaS: a novel tool to MLOps
  .col-md-2.col-4
    h1.day 21st
    h4.month.mb-0 January
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Current machine learning models and approaches are inefficiently trained from scratch with stateless training and naive implementation in the enterprise, rigid and difficult to adapt. Lately, many companies try to move their ML pipelines towards real-time prediction and automated, stateful training. Nevertheless, modifying their ML process requires solving different challenges. To validate how Continual and Real-time machine learning is largely an infrastructure problem it is shown an infrastructure Proof of Concept called Continual Learning as a Service system (CLaaS). The presentation shows how Continual Learning, Auto-ML and a good combination of the existing ML tools can help in the transition of Companies with a simple use case like systems recommendation in which it is possible to achieve a +20% increase in Purchase Through Rate additionally a 45x cost decrease.
  .col-md-4.d-grid.gap-2.d-md-block
    a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MWk1ZmVuYmtwanN2dHRvczdiOHNoMmZjdWggY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/tbx-apai-yxd").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
      