.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Marco Cardia]
    h2.title.mb-0.mt-1
      | IT systems for assessing the environmental impact of industrial processes
  .col-md-2.col-4
    h1.day 6th
    h4.month.mb-0 May
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | The introduction of the Internet of Things (IoT) in the manufacturing field allows to develop information systems able to offer the possibility of using a large amount of data collected from heterogeneous sources in real time. The information thus obtained is functional not only to the attainment of an industrial development but also for evaluation and improvement of its sustainability. These large amounts of data can be exploited to address the environmental impact that is associated with the production systems of enterprises. This can be achieved through a series of strategies, including the monitoring of all relevant data on air, water or soil quality, which are clearly affected by the way the production system is carried out. In our work we aim to identify the indicators showing potential pollutants for each case. These indicators are obtained through laboratory tests. Consequently, it is necessary to find general sensors providing measures able to emulate the metrics detected by sensor. Once we have defined KPIs, a Machine Learning prototype will be constructed to provide reliable predictions of the pollutants. During the last phase, we aim to understand how we can change processes and business dynamics of the companies to reduce the environmental impact.
  .col-md-4.d-grid.gap-2.d-md-block
    a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MGpmbnBxa3Vzb3JmOG9ubmFzbmtoM3U0bjEgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/egw-bjya-aur").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Seminari Est
      