.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me André Luiz Silva de Moraes]
    h2.title.mb-0.mt-1
      | Delivering solutions in ABR Video Streaming approaches and open Researches
  .col-md-2.col-4
    h1.day 8th
    h4.month.mb-0 March
    p 14:00-15:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Adaptive Video Streaming (ABR) has significantly enhanced the landscape of video delivery by prioritizing user experience. The success of video transmission hinges on minimizing interruptions while ensuring compatibility with the user's device. Consequently, the development of novel technologies in this realm has become imperative, with a growing emphasis on performance measurement from a user-centric perspective. Techniques rooted in machine learning, cloud, fog, and edge computing have emerged as crucial enablers for maximizing bandwidth efficiency and reducing unnecessary waste. In this presentation, we aim to explore the multifaceted challenges and promising research avenues in adaptive video transmission, with a specific focus on enhancing user experience. We will showcase state-of-the-art techniques and research endeavors geared towards optimizing Adaptive Streaming. These efforts are geared towards minimizing bandwidth waste and enhancing transmission quality by continuously evaluating feedback from both network environment conditions and user interactions. Through this exploration, we endeavor to shed light on the evolving landscape of adaptive video transmission and its pivotal role in delivering seamless, high-quality viewing experiences to users.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://teams.microsoft.com/l/meetup-join/19%3a1gl9chQwHEdboYgOjxeM4DRt1WG8s8OjsSeIlD5NV9I1%40thread.tacv2/1709896635115?context=%7b%22Tid%22%3a%22c7456b31-a220-47f5-be52-473828670aa1%22%2c%22Oid%22%3a%221e937ce0-cbfb-49b2-adf8-0cadc07bd2ef%22%7d ").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="slides/Delivering solutions in ABR Video Streaming approaches and open Researches.pdf",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-easel3-fill] Slides
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Polifunzionale
      