.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Federica Di Pasquale]
    h2.title.mb-0.mt-1
      | Mixed Integer Programming Solvers
  .col-md-2.col-4
    h1.day 25th
    h4.month.mb-0 March
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Mixed Integer Programming (MIP) Solvers are powerful tools for solving hard optimization problems. Over the past 60 years, both commercial and open-source MIP solvers have made tremendous progress thanks to the increasingly sophisticated techniques that have been developed. The core solution algorithm is common to most of the current state-of-the-art MIP solvers and it is called Branch and Cut, as it is an intermediate approach in between the generic Branch and Bound scheme and the Cutting Plane algorithm. However, the implementation details usually have a huge impact on the overall performances of a MIP solver. In this presentation, we will see the basic ideas of a Branch and Cut algorithm and a description of the main components of a MIP solver. Finally, we will discuss some possible research directions in order to achieve further improvements. 
  .col-md-4.d-grid.gap-2.d-md-block
    a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MDVxM2RmamY2dDIyODJrNHQ2NXJtdjE1NGYgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/egw-bjya-aur").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Seminari Est
      