.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Martina Cinquini]
    h2.title.mb-0.mt-1
      | CALIME: Causality-Aware Local Interpretable Model-agnostic Explanations
  .col-md-2.col-4
    h1.day 11th
    h4.month.mb-0 March
    p 15:00-16:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Over the last few years, eXplainable Artificial Intelligence (XAI) methods have been experiencing a wave of popularity due to their ability to provide human-understandable explanations that express the rationale of black-box models used by decision-making systems. Despite the widespread adoption of these procedures, a significant drawback of XAI methods is the assumption of features independence that implies the inability to rely on direct knowledge about potential dependencies among variables. Indeed, black-box behaviors are typically approximated by studying the effects on randomly generated feature values that might rarely appear in original samples. As a consequence, post-hoc explanation methods can capture associations in the data between input features and target class without guaranteeing the presence of any causal relationships among input features. We introduce an extended version of a widely used local and model-agnostic explainer that explicitly encodes causal relationships in the data generated around the input instance for which the explanation is required.
  .col-md-4.d-grid.gap-2.d-md-block
    a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=N3BqdThncWpvNWRtcDJ1aWswZTQ2aWdzM2MgY191MGNvOWZxb28xNTk3bWZydGFwdG1jMTlyMEBn&tmsrc=c_u0co9fqoo1597mfrtaptmc19r0%40group.calendar.google.com",target="_blank").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-calendar-event-fill] Add to Calendar
    a(href="https://meet.google.com/egw-bjya-aur").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill] Sala Seminari Est
      