.row.mt-4.mb-2
  h2 #[span.emoji 🚀] Upcoming

.row.next
  .col-md-7.col-8
    p.author #[span.me Elisa Salatti]
    h2.title.mb-0.mt-1
      | Designing eHealth systems for people with disabilities: from personalization to universality
  .col-md-2.col-4
    h1.day 21st
    h4.month.mb-0 February
    p  14:00-15:00
  .col-md-7.col-12.mt-sm-3.mt-lg-1
      p
        | Access to quality healthcare services is a recognized human right. Despite the use of technology, this right is not guaranteed for everyone, especially people with disabilities. Designing eHealth systems for people with disabilities requires an interdisciplinary approach and a balance between personalization and universality. We have technologies, methods and tools to develop systems that solve specific access problems in healthcare. However, to achieve universal products and reduce costs, the results of these efforts must be generalized. This seminar addresses the challenges and opportunities in developing inclusive eHealth systems and emphasizes the importance of a participatory approach to improve the accessibility and quality of healthcare for all.
  .col-md-4.d-grid.gap-2.d-md-block
    
    a(href="https://teams.microsoft.com/l/message/19:DkLh2QJfJIzQp_SpEuyUvxNI3ktQUEzrE2Aob9rjKVE1@thread.tacv2/1739624120665?tenantId=c7456b31-a220-47f5-be52-473828670aa1&groupId=e1ec02a8-5e74-4f1f-a340-920ec77b16bf&parentMessageId=1739624120665&teamName=Pesaresi%20Seminar%20Series%202025&channelName=General&createdTime=1739624120665").btn.btn-primary.mb-md-3.w-100
      | #[i.bi.bi-camera-reels-fill] Live Streaming
    a(href="https://goo.gl/maps/FL4qcbB3MnMXrYS28",target="_blank").btn.btn-primary.w-100
      | #[i.bi.bi-geo-alt-fill]  Sala Demo
      